<div class="login-form login-form__wrapper">
  <form{{ attributes }}>
    <div class="login-form__top">
      {{ element.name }} 
      {{ element.pass }}
      {{ element.form_build_id }} 
      {{ element.form_id }}
      <div class="login-form__submit">
        {{ element.actions.submit }}
      </div>
    </div>
  </form>
</div>
