{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
  'views',
  'views--' ~ id|clean_class,
  'views--' ~ display_id|clean_class,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  'hearings__content'
]
%}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  <div class="hearings__results">
    {% if hearings_count > 0 %}
      <div class="hearings__count-container">
        <span class="hearings__count">{{ hearings_count }}</span>
        {% trans with {'context': 'Hearings count'}%}plan open for commenting{% plural hearings_count %}plans open for commenting{% endtrans %}
      </div>
    {% endif %}

    {{ rows }}

    {{ empty }}
    {{ pager }}
  </div>
  {% if not empty %}
    {% set link_title %}
      <span class="hds-button__label">{{ 'See all plans'|t({}, {'context': 'See all plans link text'}) }}</span>
    {% endset %}
  {% else %}
    {% set link_title %}
      <span class="hds-button__label">{{ 'See all already closed plans'|t({}, {'context': 'See closed plans link text'}) }}</span>
    {% endset %}
  {% endif %}

  {% set link_attributes = {
    'class': [
      'hds-button',
      'hds-button--primary',
    ]
  } %}

  {# TODO: Move this link URL to a better location #}
  {{ link(link_title, 'https://kerrokantasi.hel.fi/hearings/list?lang=fi', link_attributes) }}
  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
