{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{% embed "@hdbt/misc/component.twig" with
  {
    component_classes: [
      'component--service-units',
      'component--hardcoded'
    ]
  }
%}
  {% block component_content %}

    <div class="service__units__header">
      <h2 class="service__units__title">{% trans %}Service points{% endtrans %}</h2>
      <span class="service__units__count-container">
        <span class="service__units__count">{{ total_rows }}</span>
        {% trans with {'context': 'Service units count'}%}service point{% plural total_rows %}service points{% endtrans %}
      </span>
    </div>
    <div{{ attributes.addClass(classes) }}>
      {% if header %}
        <header>
          {{ header }}
        </header>
      {% endif %}

      {{ exposed }}
      {{ attachment_before }}

      <div class="service__units__list">
        {% if rows -%}
          {{ rows }}
        {% elseif empty -%}
          {{ empty }}
        {% endif %}
        {{ pager }}
      </div>

      {{ attachment_after }}
      {{ more }}

      {% if footer %}
        <footer>
          {{ footer }}
        </footer>
      {% endif %}

      {{ feed_icons }}
    </div>

  {% endblock component_content %}
{% endembed %}
