{#
/**
 * @file
 * Default template for the 'plain' address formatter.
 *
 * Available variables:
 *   - given_name: Given name.
 *   - additional_name: Additional name.
 *   - family_name: Family name.
 *   - organization: Organization.
 *   - address_line1: First address line.
 *   - address_line2: Second address line.
 *   - postal_code: Postal code.
 *   - sorting_code: Sorting code.
 *   - dependent_locality: The dependent locality.
 *     - dependent_locality.code: Dependent locality code.
 *     - dependent_locality.name: Dependent locality name.
 *   - locality: The locality subdivision.
 *     - locality.code: Locality code.
 *     - locality.name: Locality name.
 *   - administrative_area: The administrative area subdivision.
 *     - administrative_area.code: Administrative area code.
 *     - administrative_area.name: Administrative area name.
 *   - country: The country.
 *     - country.code: Country code.
 *     - country.name: Country name.
 *   - address: An object that implements \Drupal\address\AddressInterface
 *     representing the address to be rendered. Only public methods can be used.
 *   - view_mode: View mode of the entity being rendered that this address field
 *     is attached to. For example, "teaser" or "full".
 *
 * if a subdivision (dependent_locality, locality, administrative_area) was
 * entered, the array will always have a code. If it's a predefined subdivision,
 * it will also have a name. The code is always preferred.
 *
 * @ingroup themeable
 */
#}
<span class="address" translate="no">
  {% if given_name or family_name %}
    <span class="given-name">{{ given_name }} {{ family_name }}</span>
  {% endif %}
  {% if organization %}
    <span class="organization">{{ organization }}</span>
  {% endif %}
  {% if address_line1 %}
    <span class="address-line1">{{ address_line1 }}<span class="comma">, </span></span>
  {% endif %}
  {% if address_line2 %}
    <span class="address-line2">{{ address_line2 }}<span class="comma">, </span></span>
  {% endif %}
  {% if dependent_locality.code %}
    <span class="dependent-locality-code">{{ dependent_locality.code }}<span class="comma">, </span></span>
  {% endif %}
  {% if postal_code or administrative_area.code %}
    <span class="postal-code">{{ postal_code }} {{ administrative_area.code }}</span>
  {% endif %}
  {% if locality.code %}
    <span class="locality">{{ locality.code }}</span>
  {% endif %}
</span>
