{#
/**
 * @file
 * Theme for the TPR unit entity contact information block.
 *
 * @see template_preprocess_tpr_unit_contact_information()
 */
#}

{% if
  content.address|render or
  content.email|render or
  content.phone|render or
  content.address_postal|render or
  content.opening_hours|render or
  content.www|render
%}

  <div class="unit__contact">
    {% if content.address|render %}
      <div class="unit__contact-row unit__contact-row--address">
        <label class="unit__contact-row__label">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'location'} %}
          {{ 'Visiting address'|t }}:
        </label>
        {{ content.address }}

        {% if content.accessibility_sentences|render %}
          {% include '@hdbt/misc/accessibility-link.twig' %}
        {% endif %}
        {% if content.service_map_embed|render %}
          {% include '@hdbt/misc/location-link.twig' %}
        {% endif %}
      </div>
    {% endif %}
    {% if content.email|render %}
      <div class="unit__contact-row unit__contact-row--email">
        <label class="unit__contact-row__label">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'glyph-at'} %}
          {{ 'E-mail'|t }}:
        </label>
        {{ content.email }}
      </div>
    {% endif %}
    {% if content.phone|render %}
      <div class="unit__contact-row unit__contact-row--phone">
        <label class="unit__contact-row__label">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'phone'} %}
          {{ 'Telephone number'|t }}:
        </label>
        {{ content.phone }}
      </div>
    {% endif %}
    {% if content.opening_hours|render %}
      <div class="unit__contact-row unit__contact-row--opening-hours">
        <label class="unit__contact-row__label">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'clock'} %}
          {{ 'Opening hours'|t }}:
        </label>
        {{ content.opening_hours }}
      </div>
    {% endif %}
    {% if content.provided_languages['#object'].getProvidedLanguagesNames() %}
      <div class="unit__contact-row unit__contact-row--provided-languages">
        <label class="unit__contact-row__label">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'globe'} %}
          {{ 'Service language'|t({}, {'context': 'TPR unit contact information service language'}) }}:
        </label>
        {{ content.provided_languages['#object'].getProvidedLanguagesNames() }}
      </div>
    {% endif %}
    {% if content.address_postal|render %}
      <div class="unit__contact-row unit__contact-row--postal-address">
        <label class="unit__contact-row__label">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'location'} %}
          {{ 'Postal address'|t }}:
        </label>
        {{ content.address_postal }}
      </div>
    {% endif %}
    {% if content.www|render and show_www == true %}
      <div class="unit__contact-row unit__contact-row--www">
        <label class="unit__contact-row__label">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'arrow-right'} %}
          {{ 'Website link'|t }}:
        </label>
        {{ content.www }}
      </div>
    {% endif %}
    {% if content.address|render %}
      <div class="unit__contact-row unit__contact-row--address">
        <label class="unit__contact-row__label">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'map'} %}
          {{ 'How to get here'|t({}, {'context': 'TPR unit contact information arrival title'}) }}:
        </label>
        {% include '@hdbt/misc/reittiopas-link.twig' with content %}
      </div>
    {% endif %}
  </div>
{% endif %}
