{#
/**
 * @file
 * Template for a TPR Service Channel entity.
 */
#}

{% if entity.type.value|lower == 'local' or entity.type.value|lower == 'mail' %}
  {% set show_mail = true %}
{% endif %}

{% set service_channel_eservice_links_new_tab = service_channel_eservice_links_new_tab|default(0) %}
<div class="service-channel__content">

  {% if content.name|render %}
    {% set service_channel_heading_level = service_channel_heading_level|default('h4') %}
    <{{ service_channel_heading_level }} class="service-channel__title">
      {{ content.name }}
    </{{ service_channel_heading_level }}>
  {% endif %}

  {% if content.information|render %}
    <div class="service-channel__information">{{ content.information }}</div>
  {% endif %}

  {% if content.availability_summary|render %}
    <div class="service-channel__availabilities">{{ content.availability_summary }}</div>
  {% endif %}


  {% if service_channel_email_link and content.email|render %}
    {% set link_attributes = {
      'class': [
        'service-channel__link',
        'service-channel__link--email',
      ],
    } %}
    <div class="service-channel__email">{{ link(content.email, service_channel_email_link, link_attributes) }}</div>
  {% endif %}

  {% if content.call_charge_info|render %}
    <div class="service-channel__call_charge">
      <span class="service-channel__call_charge-label">
        {{ 'Call charge'|t({}, {'context': 'TPR service channel call charge info'}) }}:
      </span>
      {% if
        content.call_charge_info.0['#text'] == 'pvm/mpm' or
        content.call_charge_info.0['#text'] == 'msa/lna' or
        content.call_charge_info.0['#text'] == 'mobile call charge / local network charge'
      %}
        {{ 'standard telephone charges apply'|t({}, {'context': 'Service channel default fee override'}) }}
      {% else %}
        {{ content.call_charge_info.0['#text'] }}
      {% endif %}
    </div>
  {% endif %}

  {% if content.phone|render %}
    <div class="service-channel__phone">
      {% set link_attributes = {
        'class': [
          'service-channel__link',
          'service-channel__link--phone',
        ],
      } %}
      {{ link('Call'|t({}, {'context': 'Service channel phone number prefix'}) ~ ' ' ~ content.phone.0['#title'], content.phone.0['#url'], link_attributes) }}
    </div>
  {% endif %}

  {% if show_mail and content.address|render %}
    <div class="service-channel__address">{{ content.address }}</div>
  {% endif %}

  {% if entity.requires_authentication.value == 1 or (content.links and service_channel_eservice_links_new_tab and entity.type.value|lower == 'eservice') %}
    <div class="service-channel__extra-information">
      {% if entity.requires_authentication.value == 1 %}
        {{ 'Requires authentication'|t }}.
      {% endif %}
      {% if content.links and service_channel_eservice_links_new_tab and entity.type.value|lower == 'eservice' %}
        {{ 'The link opens in a new tab'|t({}, {'context': 'Explanation for users that the link opens in a new tab instead of the expected current tab'}) }}.
      {% endif %}
    </div>
  {% endif %}

  {% if content.links|render %}
    <div class="service-channel__links">
      {% for link in content.links['#items'] %}
        {% if entity.type.value|lower == 'eservice' %}
          {% if service_channel_eservice_links_new_tab %}
            {% set link_attributes = {
              'class': [
                'hds-button',
                'hds-button--primary',
              ],
              'target': [
                '_blank',
              ]
            } %}
          {% else %}
            {% set link_attributes = {
              'class': [
                'hds-button',
                'hds-button--primary',
              ],
            } %}
          {% endif %}
          {% set link_title %}
            <span class="hds-button__label">{{ link.title }}</span>
          {% endset %}
          {{ link(link_title, link.uri, link_attributes) }}
        {% else %}
          {% set link_attributes = {
            'class': [
              'service-channel__link'
            ],
          } %}
          {{ link(link.title, link.uri, link_attributes) }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
