{#
/**
 * @file
 * Template for a TPR Service Channel entity.
 */
#}

{%
  set classes = [
  'errand-service',
  view_mode ? 'errand-service--' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>

  <div class="errand-service__container container">

    {# Sote uses simple mode, for the rest this is enabled by default (check sote tpr-errand-service.html.twig) #}
    {% if not errand_service_simple_mode %}

      <div{{ content_attributes.addClass('errand-service__header') }}>
        <h2{{ title_attributes.addClass('errand-service__title') }}>
          {{ entity.label() }}
        </h2>
      </div>

      {% if content.description|render %}
        <div class="errand-service__description">
          {{ content.description }}
        </div>
      {% endif %}

      {% if
        content.process_description|render or
        content.processing_time|render or
        content.expiration_time|render or
        content.costs|render or
        content.information|render or
        content.links
      %}

        {% block paragraph %}
          {% embed "@hdbt/misc/component.twig" with
            {
              component_classes: [
                'component--accordion',
                'component--accordion-bg-grey',
                'component--hardcoded',
                'errand-service__accordion',
              ],
              component_content_class: ['accordion', 'user-edited-content'],
            }
          %}
            {% block component_content %}

              {% if
                content.process_description|render or
                content.processing_time|render or
                content.expiration_time|render
              %}

                {% include '@hdbt/component/accordion.twig' with {
                  heading_level: 'h3',
                  heading: 'Process'|t({}, {'context': 'Errand service accordion heading'}),
                  content: errand_service_process,
                } %}

              {% endif %}
              {% if content.costs|render %}

                {% include '@hdbt/component/accordion.twig' with {
                  heading_level: 'h3',
                  heading: 'Fees'|t({}, {'context': 'Errand service accordion heading'}),
                  content: errand_service_fees,
                } %}

              {% endif %}
              {% if errand_service_additional_info|render|striptags|trim is not empty %}

                {% include '@hdbt/component/accordion.twig' with {
                  heading_level: 'h3',
                  heading: 'Additional information and links'|t({}, {'context': 'Errand service accordion heading'}),
                  content: errand_service_additional_info,
                } %}

              {% endif %}

            {% endblock component_content %}
          {% endembed %}
        {% endblock paragraph %}

      {% endif %}
    {% endif %}

    {% if content.channels|render %}
      <div class="errand-service__channels">

        {{ content.channels }}

      </div>
    {% endif %}

  </div>

</article>
