{#
/**
 * @file
 * Theme for unit entity.
 *
 * @see hdbt_content_preprocess_tpr_unit()
 */
#}

{% set supports_swedish %}
  {% if 'sv' in provided_languages %}
    <div class="unit__supports_language_sv">
      {{ 'Service in Swedish'|t({}, {'context': 'TPR unit also offers service in Swedish'}) }}
    </div>
  {% endif %}
{% endset %}

{% if view_mode == 'full' %}

  {%
    set classes = [
      'unit',
      'unit--full'
    ]
  %}

  <article{{ attributes.addClass(classes) }}>

    {% embed "@hdbt/misc/lead-in.twig" with { content: content.description_summary } %}{% endembed %}

    {# Page divider, normally it comes from table of contents, but unit does not have that #}
    <div class="page-divider"></div>

    {{ supports_swedish }}

    {# Main image #}
    {% if content.picture_url_override|render %}
      {% set main_image = content.picture_url_override %}
    {% elseif content.picture_url|render %}
      {% set main_image = content.picture_url %}
    {% endif %}

    {% if main_image %}
      {% include '@hdbt/misc/image-with-caption.twig' with {
        figure_class: 'main-image',
        image: main_image
      } %}
    {% endif %}
    {# End of Main image #}

    {% if content.description|render and hide_description == false %}
      <div class="long-desc">
        {{ content.description }}
      </div>
    {% endif %}

    {% block main_content %}
      <div class="enriched-content components components--unit">
        {{ content.field_content }}
      </div>
    {% endblock main_content %}

    {% if content.service_map_embed|render %}
      {% set map_title %}
        {{ 'Location'|t }}
      {% endset %}
      {% include '@hdbt/component/map.twig' with {
        title: map_title,
        map: content.service_map_embed,
        description: content.address,
      } %}
    {% endif %}
  </article>

  {# TODO: We should simplify these to have only one style instead of two identical ones #}
{% elseif view_mode == 'teaser_with_image' or view_mode == 'teaser' %}

  {% set image_attributes = create_attribute() %}

  {% if content.picture_url_override|render or content.picture_url|render %}
    {% set has_image = TRUE %}
  {% endif %}

  {%
    set picture_classes = [
      'unit__image',
      has_image ? 'unit__image--image' : 'unit__image--placeholder'
    ]
  %}

  <div class="unit unit--teaser unit--teaser_with_image">
    <div{{ image_attributes.addClass(picture_classes) }}>
      {% if content.picture_url_override|render %}
        {{ content.picture_url_override }}
      {% elseif content.picture_url|render %}
        {{ content.picture_url }}
      {% else %}
        {% include "@hdbt/misc/image-placeholder.twig" ignore missing %}
      {% endif %}
    </div>

    <div class="unit__text">
      <div class="unit__text__content">
        <{{ unit_title_level|default('h3') }} class="unit__title">
          {% set unit_link_attributes = {
            'class': [
              'unit__link',
            ],
          } %}
          {{ link(entity.label, unit_url, unit_link_attributes) }}
        </{{ unit_title_level|default('h3') }}>
        <div class="unit__info">
          {% if content.address|render %}
            <div class="unit__info-row unit__info-row--address">
              {{ content.address }}
            </div>
          {% endif %}
        </div>
        {{ supports_swedish }}
      </div>
      <div class="unit__read-more">
        <span class="unit__read-more__text">{% trans with {'context': 'Unit teaser link'} %}See opening hours and contact details{% endtrans %}</span>
        {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'arrow-right'} %}
      </div>
    </div>
  </div>

{% elseif view_mode == 'wide_teaser' %}

  {% include '@hdbt/module/helfi_tpr/tpr-content-liftup.html.twig' %}

{% elseif view_mode == 'minimal' %}

  <div class="unit unit--minimal">
    <a href="{{ url('entity.tpr_unit.canonical', { 'tpr_unit': entity.id() }) }}" class="unit__link">
      <div class="unit__text">
        <div class="unit__text__content">
          <{{ unit_title_level|default('h3') }} class="unit__title">
            {{ entity.label }}
          </{{ unit_title_level|default('h3') }}>
          <div class="unit__info">
            {% if content.address|render %}
              <div class="unit__info-row unit__info-row--address">
                {{ content.address }}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="unit__read-more">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'arrow-right'} %}
        </div>
      </div>
    </a>
  </div>

{% endif %}
