{#
/**
 * @file
 * Theme for service entity.
 *
 * @see hdbt_admin_tools_preprocess_tpr_service()
 */
#}

{% if view_mode != 'teaser' %}

  <article class="service service--full">

    {% embed "@hdbt/misc/lead-in.twig" with { content: content.description_summary } %}{% endembed %}

    {{ content.toc_enabled }}

    {% if content.description|render %}
      <div class="long-desc">
        {{ content.description }}
      </div>
    {% endif %}


    {% if content.errand_services|render and not content.field_hide_errand_services['#items'].value %}
      <div class="enriched-content service__errand-services">
        {{ content.errand_services }}
      </div>
    {% endif %}

    {% if content.field_content|render is not empty %}
      <div class="enriched-content components components--upper components--service">
        {{ content.field_content }}
      </div>
    {% endif %}

  </article>

{% elseif view_mode == 'teaser' %}

  {%
    set service_classes = [
      'service',
      'service--teaser',
      not content_entity_published ? 'service--teaser--unpublished',
    ]
  %}

  {% set wrapper_attributes = create_attribute() %}

  <li{{ wrapper_attributes.addClass(service_classes) }}>
    <a href="{{ url('entity.tpr_service.canonical', { 'tpr_service': entity.id() }) }}">
      {{ entity.label }}
    </a>
  </li>

{% endif %}
