{% if content.picture_url_override|render or content.picture_url|render %}
  {% set has_image = TRUE %}
{% endif %}

{%
  set picture_classes = [
  'unit-hours__image',
  has_image ? 'unit-hours__image--image' : 'unit-hours__image--placeholder'
]
%}

{% set image_attributes = create_attribute() %}

<div class="unit-hours">
  <div{{ image_attributes.addClass(picture_classes) }}>
    {% if content.picture_url_override|render %}
      {{ content.picture_url_override }}
    {% elseif content.picture_url|render %}
      {{ content.picture_url }}
    {% else %}
      {% include "@hdbt/misc/image-placeholder.twig" ignore missing %}
    {% endif %}
  </div>

  <div class="unit-hours__text">
    <div class="unit-hours__text__content">
      <h3 class="unit-hours__title">
        <a href="{{ url('entity.tpr_unit.canonical', { 'tpr_unit': entity.id() }) }}" class="unit-hours__link">
          {{ entity.label }}
        </a>
      </h3>
      <div class="unit-hours__info">
        {% if content.address|render %}
          <div class="unit-hours__info-row unit-hours__info-row--address">
            <div class="unit-hours__info-row__title">{{ 'Visiting address'|t }}:</div>
            <div class="unit-hours__info-row__content">{{ content.address }}</div>
          </div>
        {% endif %}

        {% if content.opening_hours|render %}
          <div class="unit-hours__info-row unit-hours__info-row--opening-hours">
            <div class="unit-hours__info-row__title">{{ 'Opening hours'|t }}:</div>
            <div class="unit-hours__info-row__content">{{ content.opening_hours }}</div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="unit-hours__read-more">
      <span class="unit-hours__read-more__text">{% trans with {'context': 'Unit teaser link'} %}See opening hours and contact details{% endtrans %}</span>
      {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'arrow-right'} %}
    </div>
  </div>
</div>
