{#
/**
 * @file
 * Theme for unit entity.
 *
 * @see hdbt_admin_tools_preprocess_tpr_unit()
 */
#}

{% set supports_swedish %}
  {% if 'sv' in provided_languages %}
    {% set tag_content %}
      <span>{{ 'Service in Swedish'|t({}, {'context': 'TPR unit also offers service in Swedish'}) }}</span>
    {% endset %}
    {% embed '@hdbt/misc/tag-list.twig'%}
      {% block content %}
        {% include '@hdbt/misc/tag.twig' with {
          tag: tag_content
        }%}
        {% endblock content %}
      {% endembed %}
  {% endif %}
{% endset %}

{%
  set classes = [
    'unit',
    'unit--full'
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {% embed "@hdbt/misc/lead-in.twig" with { content: content.description_summary } %}{% endembed %}

  {# Page divider, normally it comes from table of contents, but unit does not have that #}
  <div class="page-divider"></div>

  {{ supports_swedish }}

  {# Main image #}
  {% if content.picture_url_override|render %}
    {% set main_image = content.picture_url_override %}
  {% elseif content.picture_url|render %}
    {% set main_image = content.picture_url %}
  {% endif %}

  {% if main_image %}
    {% include '@hdbt/misc/image-with-caption.twig' with {
      figure_class: 'main-image',
      image: main_image
    } %}
  {% endif %}
  {# End of Main image #}

  {% if content.description|render and hide_description == false %}
    <div class="long-desc">
      {{ content.description }}
    </div>
  {% endif %}

  {% block main_content %}
    <div class="enriched-content components components--unit">
      {{ content.field_content }}
    </div>
  {% endblock main_content %}

  {% if content.service_map_embed|render %}
    {% set map_title %}
      {{ 'Location'|t }}
    {% endset %}
    {% include '@hdbt/component/map.twig' with {
      title: map_title,
      map: content.service_map_embed,
      description: content.address,
    } %}
  {% endif %}
</article>
