{%
  set content_liftup_classes = [
    'content-liftup',
    not unit_published ? 'content-liftup--unpublished',
  ]
%}

{% if content.picture_url_override|render or content.picture_url|render %}
  {% set has_image = TRUE %}
{% endif %}

{%
  set picture_classes = [
    'content-liftup__image',
    has_image ? 'content-liftup__image--image' : 'content-liftup__image--placeholder'
  ]
%}

{% set wrapper_attributes = create_attribute() %}
{% set image_attributes = create_attribute() %}

<div{{ wrapper_attributes.addClass(content_liftup_classes) }}>
  <div{{ image_attributes.addClass(picture_classes) }}>
    {% if content.picture_url_override|render %}
      {{ content.picture_url_override }}
    {% elseif content.picture_url|render %}
      {{ content.picture_url }}
    {% else %}
      {% include "@hdbt/misc/image-placeholder.twig" ignore missing %}
    {% endif %}
  </div>

  <div class="content-liftup__text">
    <div class="content-liftup__text__container">
      <h2 class="content-liftup__title">
        {% set link_attributes = { 'class': [ 'content-liftup__link', ], } %}
        {{ link(entity.label, unit_url, link_attributes) }}
      </h2>
      <div class="content-liftup__info">
        {% if content.address|render %}
          <div class="content-liftup__info-row content-liftup__info-row--address">
            <div class="content-liftup__info-row__title">{{ 'Visiting address'|t }}:</div>
            <div class="content-liftup__info-row__content">{{ content.address }}</div>
          </div>
        {% endif %}

        {% if content.opening_hours|render %}
          <div class="content-liftup__info-row content-liftup__info-row--opening-hours">
            <div class="content-liftup__info-row__title">{{ 'Opening hours'|t }}:</div>
            <div class="content-liftup__info-row__content">{{ content.opening_hours }}</div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="content-liftup__read-more">
      <span class="content-liftup__read-more__text">{{ 'See details'|t({}, {'context': 'Content liftup card hit for seeing more information on content page'}) }}</span>
    </div>
  </div>
</div>
