{#
/**
 * @file
 * Theme for unit entity.
 *
 * @see hdbt_admin_tools_preprocess_tpr_unit()
 */
#}
{% set has_prices = content.price_info|render ? true : false %}
{% set has_contacts = content.contacts|render ? true : false %}
{% set has_ontologyword_details = content.field_ontologyword_details|render ? true : false %}
{% set has_subgroup = content.subgroup|render ? true : false %}
{% set has_other_info = content.highlights|render or content.topical|render or content.other_info|render or content.links|render ?: false %}
{% set description = content.description.0['#text'] ? content.description : content.enrich_description %}
{% set show_description = description.0['#text'] and hide_description == false ?: false %}

{% set supports_swedish %}
  {% if 'sv' in provided_languages %}
    {% set tag_content %}
      <span>{{ 'Service in Swedish'|t({}, {'context': 'TPR unit also offers service in Swedish'}) }}</span>
    {% endset %}
    {% embed '@hdbt/misc/tag-list.twig'%}
      {% block content %}
        {% include '@hdbt/misc/tag.twig' with {
          tag: tag_content
        }%}
        {% endblock content %}
      {% endembed %}
  {% endif %}
{% endset %}

{%
  set classes = [
    'unit',
    'unit--full'
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {% embed "@hdbt/misc/lead-in.twig" with { content: content.description_summary } %}{% endembed %}

  {{ supports_swedish }}

  {{ content.toc_enabled }}

  {# Main image #}
  {% if content.picture_url_override|render %}
    {% set main_image = content.picture_url_override %}
  {% elseif content.picture_url|render %}
    {% set main_image = content.picture_url %}
  {% endif %}

  {# Main image caption #}
  {% if unit_picture_caption|render %}
    {% set main_image_caption = unit_picture_caption %}
  {% else %}
    {% set main_image_caption = '' %}
  {% endif %}

  {% if main_image %}
    {% include '@hdbt/misc/image-with-caption.twig' with {
      figure_class: 'main-image',
      image: main_image,
      image_caption: main_image_caption
    } %}
  {% endif %}
  {# End of Main image #}

  {% if show_description %}
    <div class="long-desc user-edited-content">
      {{ description }}
    </div>
  {% endif %}

  {% block main_content %}
    <div class="enriched-content components components--upper components--unit">
      {% embed "@hdbt/misc/component.twig" with {
          component_classes: [ 'component--unit-contact-information' ],
          component_title: 'Contact information'|t({}, {'context': 'TPR unit contact information title'})
        }%}
        {% block component_content %}
          {% include "@hdbt/module/helfi_tpr/tpr-unit-contact-information.html.twig" with {
              content: content
            }
          %}
        {% endblock component_content %}
      {% endembed %}

      {% if has_prices or has_contacts or has_other_info or has_subgroup or has_ontologyword_details %}
        {% embed "@hdbt/misc/component.twig" with
          {
            component_classes: [
            'component--accordion',
            'component--accordion-bg-grey',
            'component--hardcoded'
          ],
            component_content_class: 'accordion',
          }
        %}
          {% block component_content %}
            {% if has_prices %}
              {% set accordion_content %}

                {% embed "@hdbt/misc/component.twig" with { component_classes: [ 'component--paragraph-text' ] } %}
                  {% block component_content %}
                    {{ content.price_info }}
                  {% endblock component_content %}
                {% endembed %}

              {% endset %}

              {% include '@hdbt/component/accordion.twig' ignore missing with {
                heading_level: 'h2',
                heading: 'Charges'|t({}, {'context': 'TPR Unit tpr data accordion heading'}),
                content: accordion_content,
              } %}
            {% endif %}

            {% if has_contacts %}
              {% set contacts_accordion_content %}

                {% embed "@hdbt/misc/component.twig" with { component_classes: [ 'component--paragraph-text' ] } %}
                  {% block component_content %}
                    {{ content.contacts }}
                  {% endblock component_content %}
                {% endembed %}

              {% endset %}

              {% include '@hdbt/component/accordion.twig' ignore missing with {
                heading_level: 'h2',
                heading: 'Other contact information'|t({}, {'context': 'TPR Unit tpr data accordion heading'}) ,
                content: contacts_accordion_content,
              } %}
            {% endif %}

            {% if is_daycare_unit and has_subgroup %}
              {% set subgroup_accordion_content %}

                {% embed "@hdbt/misc/component.twig" with { component_classes: [ 'component--paragraph-text' ] } %}
                  {% block component_content %}
                    {{ content.subgroup }}
                  {% endblock component_content %}
                {% endembed %}

              {% endset %}
              {% include '@hdbt/component/accordion.twig' ignore missing with {
                heading_level: 'h2',
                heading: 'Contact details of daycare centre groups'|t({}, {'context': 'TPR Unit tpr data accordion heading'}) ,
                content: subgroup_accordion_content,
              } %}
            {% endif %}

            {% if has_ontologyword_details %}
              {% set ontologyword_details_accordion_content %}

                {% embed "@hdbt/misc/component.twig" with { component_classes: [ 'component--paragraph-text' ] } %}
                  {% block component_content %}
                    {{ content.field_ontologyword_details }}
                  {% endblock component_content %}
                {% endembed %}
              {% endset %}

              {% include '@hdbt/component/accordion.twig' ignore missing with {
                heading_level: 'h2',
                heading: 'Language program and weighted curriculum education'|t({}, {'context': 'TPR Ontologyword details schools'}),
                content: ontologyword_details_accordion_content,
              } %}
            {% endif %}

            {% if has_other_info %}
              {% set other_info_accordion_content %}

                {% embed "@hdbt/misc/component.twig" with { component_classes: [ 'component--paragraph-text' ] } %}
                  {% block component_content %}
                    {{ content.highlights }}
                    {{ content.topical }}
                    {{ content.other_info }}
                    {{ content.links }}
                  {% endblock component_content %}
                {% endembed %}

              {% endset %}

              {% include '@hdbt/component/accordion.twig' ignore missing with {
                heading_level: 'h2',
                heading: 'Further information'|t({}, {'context': 'TPR Unit tpr data accordion heading'}),
                content: other_info_accordion_content,
              } %}
            {% endif %}
          {% endblock component_content %}
        {% endembed %}
      {% endif %}

      {{ content.field_content }}

      {% if content.service_map_embed|render %}
        {% set map_title %}
          {{ 'Location'|t }}
        {% endset %}
        {% include '@hdbt/component/map.twig' with {
          title: map_title,
          map: content.service_map_embed,
          description: content.address,
        } %}
      {% endif %}

      {% if content.accessibility_sentences|render %}
        {% embed "@hdbt/misc/component.twig" with
          {
            component_classes: [
            'component--accordion',
            'component--accordion-bg-grey',
            'component--hardcoded'
          ],
            component_content_class: 'accordion',
          }
        %}
          {% block component_content %}

            {% set accordion_content %}

              {% embed "@hdbt/misc/component.twig" with { component_classes: [ 'component--paragraph-text' ] } %}
                {% block component_content %}
                  {{ content.accessibility_sentences }}
                {% endblock component_content %}
              {% endembed %}

            {% endset %}

            {% include '@hdbt/component/accordion.twig' ignore missing with {
              heading_level: 'h2',
              heading_icon: 'person-wheelchair',
              heading: 'Accessibility information'|t,
              content: accordion_content,
            } %}

          {% endblock component_content %}
        {% endembed %}
      {% endif %}

      {% set services_view = drupal_view_result('unit_services', 'unit_services')|length %}

      {% if services_view > 0 %}
        {{ drupal_view('unit_services', 'unit_services') }}
      {% endif %}
    </div>
  {% endblock main_content %}
</article>
