{#
/**
 * @file
 * Theme for unit entity.
 *
 */
#}

{% if not block_name %}
  {% set block_name = 'main_navigation_level_2' %}
{% endif %}

{% if drupal_entity('block', block_name, check_access=false)|render|striptags|trim is not empty %}
  {% set in_menu =  TRUE %}
{% endif %}
{% if drupal_entity('block', 'groupmenu')|render|striptags|trim is not empty %}
  {% set group_menu = TRUE %}
  {% set in_menu = TRUE %}
{% endif %}

{% set supports_swedish %}
  {% if 'sv' in provided_languages %}
    <div class="unit__supports_language_sv">
      {{ 'Service in Swedish'|t({}, {'context': 'TPR unit also offers service in Swedish'}) }}
    </div>
  {% endif %}
{% endset %}

{% if view_mode == 'full' %}

  {%
    set classes = [
    'unit',
    'unit--full'
  ]
  %}

  <article{{ attributes.addClass(classes) }}>
    <div class="unit-header__container container {{ in_menu ? 'has-navigation' }}">
      <div{{ content_attributes.addClass('unit__header') }}>
        <h1{{ title_attributes.addClass('unit__title') }}>
          {{ entity.label }}
        </h1>
        {% if content.description_summary|render %}
          <div class="unit__short-desc">
            {{ content.description_summary }}
          </div>
        {% endif %}
        <span class="unit__divider"></span>
        {{ supports_swedish }}
        {% if content.picture_url_override|render %}
          <div class="unit__image">
            {{ content.picture_url_override }}
          </div>
        {% elseif content.picture_url|render %}
          <div class="unit__image">
            {{ content.picture_url }}
          </div>
        {% endif %}
        {% if content.description|render and hide_description == false %}
          <div class="unit__long-desc">
            {{ content.description }}
          </div>
        {% endif %}

        {% block main_content %}
          <div class="enriched-content has-sidebar components components--unit">
            {{ content.field_content }}
          </div>
        {% endblock main_content %}

        {% if content.service_map_embed|render %}
          {% set map_title %}
            {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'location'} %}
            {{ 'Location'|t }}
          {% endset %}
          {% include '@hdbt/component/map.twig' with {
            title: map_title,
            map: content.service_map_embed,
          } %}
        {% endif %}

      </div>

      <div class="unit__sidebar">
        {% block sidebar_block %}
          {{ drupal_entity('block', block_name, check_access=false) }}
          {% if group_menu %}
            {{ drupal_entity('block', 'groupmenu') }}
          {% endif %}
        {% endblock sidebar_block %}

        {% if
          content.address|render or
          content.email|render or
          content.phone|render or
          content.address_postal|render or
          content.opening_hours|render or
          content.www|render
        %}
          <div class="unit__contact">
            <h2 class="unit__contact__title">
              {% trans with {'context': 'Contact card title'} %}Contact information{% endtrans %}
            </h2>
            {% if content.address|render %}
              <div class="unit__contact-row unit__contact-row--address">
                <label class="unit__contact-row__label">
                  {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'location'} %}
                  {{ 'Visiting address'|t }}:
                </label>
                {{ content.address }}
              </div>
            {% endif %}
            {% if unit_email_link and content.email|render %}
              {% set link_attributes = {
                'class': [
                  'service-channel__email-link',
                ],
              } %}
              <div class="unit__contact-row unit__contact-row--email">
                <label class="unit__contact-row__label">
                  {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'glyph-at'} %}
                  {{ 'E-mail'|t }}:
                </label>
                {{ link(content.email, unit_email_link, link_attributes) }}
              </div>
            {% endif %}
            {% if content.phone|render %}
              <div class="unit__contact-row unit__contact-row--phone">
                <label class="unit__contact-row__label">
                  {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'phone'} %}
                  {{ 'Telephone number'|t }}:
                </label>
                {{ content.phone }}
              </div>
            {% endif %}
            {% if content.opening_hours|render %}
              <div class="unit__contact-row unit__contact-row--opening-hours">
                <label class="unit__contact-row__label">
                  {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'clock'} %}
                  {{ 'Opening hours'|t }}:
                </label>
                {{ content.opening_hours }}
              </div>
            {% endif %}
            {% if content.address_postal|render %}
              <div class="unit__contact-row unit__contact-row--postal-address">
                <label class="unit__contact-row__label">
                  {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'location'} %}
                  {{ 'Postal address'|t }}:
                </label>
                {{ content.address_postal }}
              </div>
            {% endif %}
            {% if content.www|render and show_www == true %}
              <div class="unit__contact-row unit__contact-row--www">
                <label class="unit__contact-row__label">
                  {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'arrow-right'} %}
                  {{ 'Website link'|t }}:
                </label>
                {{ content.www }}
              </div>
            {% endif %}
          </div>
        {% endif %}

      </div>

    </div>
    {% set services_view = drupal_view_result('unit_services', 'unit_services')|length %}

    {% if services_view > 0 or content.accessibility_sentences|render %}
    <div class="unit__content">
      {% endif %}

      {% if services_view > 0 %}
        <div class="unit__services">
          {{ drupal_view('unit_services', 'unit_services') }}
        </div>
      {% endif %}

      {% block accessibility_sentences_block %}
        {% if content.accessibility_sentences|render %}

          {% embed "@hdbt/misc/component.twig" with
            {
              component_classes: [
              'component--accordion',
              'component--accordion-bg-grey',
              'component--hardcoded',
              'component--tpr-unit',
            ],
              component_content_class: 'accordion',
            }
          %}
            {% block component_content %}

              {% set accordion_content %}

                {% embed "@hdbt/misc/component.twig" with { component_classes: [ 'component--paragraph-text' ] } %}
                  {% block component_content %}
                    {{ content.accessibility_sentences }}
                  {% endblock component_content %}
                {% endembed %}

              {% endset %}

              {% include '@hdbt/component/accordion.twig' ignore missing with {
                heading_level: 'h2',
                heading_icon: 'person-wheelchair',
                heading: 'Accessibility information'|t,
                content: accordion_content,
              } %}

            {% endblock component_content %}
          {% endembed %}

        {% endif %}
      {% endblock accessibility_sentences_block %}

      {% if services_view > 0 or content.accessibility_sentences|render %}
    </div>
    {% endif %}

  </article>

  {# TODO: We should simplify these to have only one style instead of two identical ones #}
{% elseif view_mode == 'teaser_with_image' or view_mode == 'teaser' %}

  {% set image_attributes = create_attribute() %}

  {% if content.picture_url_override|render or content.picture_url|render %}
    {% set has_image = TRUE %}
  {% endif %}

  {%
    set picture_classes = [
    'unit__image',
    has_image ? 'unit__image--image' : 'unit__image--placeholder'
  ]
  %}

  <div class="unit unit--teaser unit--teaser_with_image">
    <div{{ image_attributes.addClass(picture_classes) }}>
      {% if content.picture_url_override|render %}
        {{ content.picture_url_override }}
      {% elseif content.picture_url|render %}
        {{ content.picture_url }}
      {% else %}
        {% include "@hdbt/misc/image-placeholder.twig" ignore missing %}
      {% endif %}
    </div>

    <div class="unit__text">
      <div class="unit__text__content">
        <{{ unit_title_level|default('h3') }} class="unit__title">
          {% set unit_link_attributes = {
            'class': [
              'unit__link',
            ],
          } %}
          {{ link(entity.label, unit_url, unit_link_attributes) }}
        </{{ unit_title_level|default('h3') }}>
        <div class="unit__info">
          {% if content.address|render %}
            <div class="unit__info-row unit__info-row--address">
              {{ content.address }}
            </div>
          {% endif %}
        </div>
        {{ supports_swedish }}
      </div>
      <div class="unit__read-more">
        <span class="unit__read-more__text">{% trans with {'context': 'Unit teaser link'} %}See opening hours and contact details{% endtrans %}</span>
        {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'arrow-right'} %}
      </div>
    </div>
  </div>

{% elseif view_mode == 'wide_teaser' %}

  {% include '@hdbt/module/helfi_tpr/tpr-content-liftup.html.twig' %}

{% elseif view_mode == 'minimal' %}

  <div class="unit unit--minimal">
    <a href="{{ url('entity.tpr_unit.canonical', { 'tpr_unit': entity.id() }) }}" class="unit__link">
      <div class="unit__text">
        <div class="unit__text__content">
          <{{ unit_title_level|default('h3') }} class="unit__title">
            {{ entity.label }}
          </{{ unit_title_level|default('h3') }}>
          <div class="unit__info">
            {% if content.address|render %}
              <div class="unit__info-row unit__info-row--address">
                {{ content.address }}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="unit__read-more">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'arrow-right'} %}
        </div>
      </div>
    </a>
  </div>

{% endif %}
