{#
/**
 * @file
 * Template for a TPR Service Channel entity.
 */
#}

{% if channel_type|lower == 'local' or channel_type|lower == 'mail' %}
  {% set show_mail = true %}
{% endif %}

{% set service_channel_links_new_tab = service_channel_links_new_tab|default(0) %}

<{{ channel_title_level }} class="service-channel__title">
  {{ channel.name.value }}
</{{ channel_title_level }}>

{% if channel.availability_summary.value %}
  <div class="service-channel__availabilities">
    {{ channel.availability_summary.value }}
  </div>
{% endif %}


{% if channel.getMailto and channel.email.value %}
  {% set link_attributes = {
    'class': [
      'service-channel__link',
      'service-channel__link--email',
    ],
  } %}
  <div class="service-channel__email">
    {{ link(channel.email.value, channel.getMailto, link_attributes) }}
  </div>
{% endif %}

{% if channel.call_charge_info.value %}
  <div class="service-channel__call_charge">
    <span class="service-channel__call_charge-label">{{ 'Call charge'|t({}, {'context': 'TPR service channel call charge info'}) }}:</span>
    {% if channel.call_charge_info.value == 'pvm/mpm' or channel.call_charge_info.value == 'msa/lna' or channel.call_charge_info.value == 'mobile call charge / local network charge' %}
      {{ 'Standard telephone charges apply'|t({}, {'context': 'Service channel default fee override'}) }}
    {% else %}
      {{ channel.call_charge_info.value }}
    {% endif %}
  </div>
{% endif %}

{% if channel.getPhoneNumber %}
  <div class="service-channel__phone">
    {% set link_attributes = {
      'class': [
        'service-channel__link',
        'service-channel__link--phone',
      ],
    } %}
    {{ link('Call'|t({}, {'context': 'Service channel phone number prefix'}) ~ ' ' ~ channel.phone.value, channel.getPhoneNumber, link_attributes) }}
  </div>
{% endif %}

{% if show_mail and channel.getFormattedAddress %}
  <div class="service-channel__address">
    {{ channel.getFormattedAddress }}
  </div>
{% endif %}

{% if channel.requires_authentication.value == 1 or service_channel_links_new_tab %}
  <div class="service-channel__extra-information">
    {% if channel.requires_authentication.value == 1 %}
      {{ 'Requires authentication'|t }}.
    {% endif %}
    {% if channel.links.value and service_channel_links_new_tab %}
      {{ 'The link opens in a new tab'|t({}, {'context': 'Explanation for users that the link opens in a new tab instead of the expected current tab'}) }}.
    {% endif %}
  </div>
{% endif %}

{% if channel.links.value %}
  <div class="service-channel__links">
    {% for link in channel.links.value %}
      {% if channel_type|lower == 'eservice' %}
        {% set link_attributes = {
          'class': [
            'hds-button',
            'hds-button--primary',
          ]
        } %}
        {% set link_title %}
          <span class="hds-button__label">{{ link.title }}</span>
        {% endset %}
        {{ link(link_title, link.uri, link_attributes) }}
      {% else %}
        {% set link_attributes = {
          'class': [
            'service-channel__link'
          ],
        } %}
        {{ link(link.title, link.uri, link_attributes) }}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
