{#
/**
 * @file
 * Theme for service entity.
 *
 * @see hdbt_content_preprocess_tpr_service()
 */
#}

{% if view_mode == 'teaser' %}

  <div class="service service--teaser">
    <a href="{{ url('entity.tpr_service.canonical', { 'tpr_service': entity.id() }) }}" class="service__link">
      <h3 class="service__title">
        {{ entity.label }}
      </h3>
      {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'arrow-right'} %}
    </a>
  </div>

{% elseif view_mode == 'teaser_search_result' %}
  <div class="service service--teaser-search-result">
    <a href="{{ url('entity.tpr_service.canonical', { 'tpr_service': entity.id() }) }}" class="service__link">
      <h3 class="service__title">
        {{ entity.label }}
      </h3>
      <div class="service__content">
        <div class="short-desc">
          {{ content.description }}
        </div>
        <div class="channels">
          {% for channel in content.errand_services.unique_channels %}
          {{ channel['#name'] }}
          {% endfor %}
        </div>
      </div>

      <div class="service__read-more">
        {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'arrow-right'} %}
      </div>
    </a>
  </div>

{% else %}
  <article class="service service--full">

    {% embed "@hdbt/misc/lead-in.twig" with { content: content.description_summary } %}{% endembed %}

    {{ content.toc_enabled }}

    {% if content.description|render %}
      <div class="long-desc">
        {{ content.description }}
      </div>
    {% endif %}

    {% if content.errand_services|render %}
      <div class="enriched-content service__errand-services">
        {{ content.errand_services }}
      </div>
    {% endif %}

    {% if content.field_content|render|striptags|trim is not empty %}
      <div class="enriched-content components components--service">
        {{ content.field_content }}
      </div>
    {% endif %}

  </article>
{% endif %}
