{% if unit_contact_card.picture_url|render or unit_contact_card.picture_url_override|render %}
  {% set with_image_class = 'component--unit-contact-card--with-image' %}
{% endif %}

{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
        'component--unit-contact-card',
        with_image_class
      ],
      component_content_class: [
        'unit-contact-card'
      ],
    }
  %}
    {% block component_content %}

      {% if unit_contact_card.picture_url|render or unit_contact_card.picture_url_override|render %}
        <div class="unit-contact-card__image">
          {% if unit_contact_card.picture_url_override|render %}
            {{ unit_contact_card.picture_url_override }}
          {% elseif unit_contact_card.picture_url|render %}
            {{ unit_contact_card.picture_url }}
          {% endif %}
        </div>
      {% endif %}

      <div class="unit-contact-card__info">
        <h2 class="component__title">{{ unit_contact_card.heading }}</h2>

        {% if unit_contact_card.address|render %}
          <div class="unit-contact-card__info-row unit-contact-card__info-row--address">
            <div class="unit-contact-card__info-row__title">{{ 'Visiting address'|t }}:</div>
            <div class="unit-contact-card__info-row__content">{{ unit_contact_card.address }}</div>
          </div>
        {% endif %}

        {% if unit_contact_card.address_postal|render %}
          <div class="unit-contact-card__info-row unit-contact-card__info-row--address">
            <div class="unit-contact-card__info-row__title">{{ 'Postal address'|t }}:</div>
            <div class="unit-contact-card__info-row__content">{{ unit_contact_card.address_postal }}</div>
          </div>
        {% endif %}

        {% if unit_contact_card.phone|render %}
          <div class="unit-contact-card__info-row unit-contact-card__info-row--phone">
            <div class="unit-contact-card__info-row__title">{{ 'Telephone number'|t }}:</div>
            <div class="unit-contact-card__info-row__content">{{ unit_contact_card.phone }}</div>
          </div>
        {% endif %}

        {% if unit_contact_card.opening_hours|render %}
          <div class="unit-contact-card__info-row unit-contact-card__info-row--opening-hours">
            <div class="unit-contact-card__info-row__title">{{ 'Opening hours'|t }}:</div>
            <div class="unit-contact-card__info-row__content">{{ unit_contact_card.opening_hours }}</div>
          </div>
        {% endif %}

        {% if unit_contact_card.highlights|render %}
          <div class="unit-contact-card__info-row unit-contact-card__info-row--details">
            <div class="unit-contact-card__info-row__title">{{ 'Additional details'|t }}:</div>
            <div class="unit-contact-card__info-row__content">{{ unit_contact_card.highlights }}</div>
          </div>
        {% endif %}

        {% if unit_contact_card.unit_url %}
          <div class="unit-contact-card__info-row unit-contact-card__link-wrapper">
            {% set link_title %}
              {{- 'See details'|t({}, {'context': 'Unit contact card'}) -}}
            {% endset %}
            {% set unit_link_attributes = {
              'class': [ 'unit-contact-card__link' ],
              'aria-label': paragraph.getAriaLabel(),
            } %}
            {{ link(link_title, unit_contact_card.unit_url, unit_link_attributes) }}
          </div>
        {% endif %}
      </div>
    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
