{% set design = content.field_accordion_design.0|first|clean_class %}

{% set header_class = null %}
{% if not content.field_accordion_title|render and not content.field_accordion_description|render  %}
  {% set header_class = 'component--no-header' %}
{% endif %}

{% if design == 'white'  %}
  {% set design_class = 'component--accordion-bg-white' %}
{% elseif design == 'grey' %}
  {% set design_class = 'component--accordion-bg-grey' %}
{% endif %}


{%
  set classes = [
    'component',
    'component--accordion',
    design_class,
    header_class,
  ]
%}

{% set title_level = 'h' ~ accordion_title_level %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="component__container">
      {% if content.field_accordion_title|render %}
        <{{ title_level|default('h2') }} class="component__title">
          {{ content.field_accordion_title }}
        </{{ title_level|default('h2')}}>
      {% endif %}
      {% if content.field_accordion_description|render %}
        <div class="component__description">
          {{ content.field_accordion_description}}
        </div>
      {% endif %}
      <div class="component__content">
        {{ content.field_accordion_items }}
      </div>
    </div>
  </div>
{% endblock paragraph %}
