{% set design = content.field_columns_design[0]['#markup'] %}

{%
  set classes = [
    'component',
    'component--columns',
  ]
%}

{% set title = content.field_columns_title %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="component__container">
      {% if title|render %}
        <h2 class="component__title">{{ title }}</h2>
      {% endif %}

      {% set left_column_classes = ['columns__column'] %}
      {% set right_column_classes = ['columns__column'] %}

      {# // Set the correct classes for the columns. #}
      {% if design == "30-70" %}
        {% set left_column_classes = left_column_classes|merge(['column--30'])%}
        {% set right_column_classes = right_column_classes|merge(['column--70']) %}
      {% elseif design == "70-30" %}
        {% set left_column_classes = left_column_classes|merge(['column--70'])%}
        {% set right_column_classes = right_column_classes|merge(['column--30']) %}
      {% else %}
        {% set left_column_classes = left_column_classes|merge(['column--50'])%}
        {% set right_column_classes = right_column_classes|merge(['column--50']) %}
      {% endif %}

      <div class="container__content columns">
        <div class="{{ left_column_classes|join(' ') }}">
          {{ content.field_columns_left_column }}
        </div>

        <div class="{{ right_column_classes|join(' ') }}">
          {{ content.field_columns_right_column }}
        </div>
      </div>
    </div>
  </div>
{% endblock paragraph %}
