{{ attach_library('hdbt/job-search') }}
{{ attach_library('hdbt/search-monitor-helper') }}

{% set classes = [
  'components',
  'components--hard-coded',
] %}

{% set banner_button %}
  <button aria-controls="hdbt-search__search-monitor__content" class="hdbt-search__search-monitor__button" aria-expanded="false" data-hds-component="button">
    {{ 'Save your search'|t({}, {'context': 'Search monitor banner'}) }}
  </button>
{% endset %}

{% set banner_description %}
  <p>
    {{ 'Carry out a search according to your specifications and then save your search.'|t({}, {'context': 'Search monitor banner'}) }}
  </p>
  <p>
     {{ 'You can save as many searches as you want.'|t({}, {'context': 'Search monitor banner'}) }}
  </p>
{% endset %}

{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [ 'component--job-listing-search'],
      component_title: content.field_job_search_title,
      component_description: content.field_job_search_desc,
      component_content_class: 'job-listing-search',
    }
  %}
    {% block component_content %}
      <div id="helfi-rekry-job-search">
        <noscript>
          {% trans with {'context': 'Generic javascript required message'} %}
            This content requires JavaScript. Your browser doesn't support JavaScript or it is disabled. Please check your browser settings and try again.
          {% endtrans %}
        </noscript>
      </div>

      <div{{ attributes.addClass(classes) }}>
        {% block content %}
          {% embed "@hdbt/misc/component.twig" with {
            component_classes: ['component--banner', 'component--banner-align-left'],
            component_title: '',
            component_description: '',
            component_content_class: 'banner',
          } %}
            {% block component_content %}
              {% embed "@hdbt/misc/banner.twig" with {
                icon_name: 'bell',
                title: 'Receive search results by email'|t({}, {'context': 'Search monitor banner'}),
                description: banner_description,
                banner_button: banner_button,
              } %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      </div>
    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}


