{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
        'component--event-list'
      ],
      component_title_level: 'h2',
      component_title: content.field_event_list_title,
      component_description: content.field_event_list_description,
      component_content_class: 'event-list',
    }
  %}
    {% block component_content %}
      {# Hook React app to this div #}
      <div
        id="helfi-events-search"
        data-events-url="{{ events_url }}"
        data-show-location-filter="{{ field_event_location }}"
        data-show-time-filter="{{ field_event_time }}"
        data-show-free-events-filter="{{ field_free_events }}"
        data-show-remote-events-filter="{{ field_remote_events }}"
      >
      </div>
      {# Indicate JS not enabled #}
      <noscript>
        <div class="event-list__javascript-disabled">
          {{ 'You must enable JavaScript in your browser for event list to work'|t }}
        </div>
      </noscript>
    {% endblock %}
  {% endembed %}
{% endblock %}
