{% if node.field_announcement_type.value == 'alert' %}
  {% set block_modifier = 'announcement--alert' %}
{% elseif node.field_announcement_type.value == 'attention' %}
  {% set block_modifier = 'announcement--attention' %}
{% else %}
  {% set block_modifier = 'announcement--notification' %}
{% endif %}

{% set link = content.field_announcement_link[0] %}
{% set alternative_language = current_langcode not in primary_languages %}

<div class="announcement js-announcement {{ block_modifier }} container" data-uuid="{{ node.uuid.value }}">
  <div class="announcement__container">
    <div class="announcement__content">
      {% if content.body|render != null %}
        <span class="announcenemnt__content-body">
          {{ content.body }}
        </span>
      {% endif %}
      {% if link != null %}
        <div class="announcement__link">
          {{ link }}
        </div>
      {% endif %}
    </div>
    <button type="button" class="announcement__close js-announcement__close--disabled" aria-labelledby="announcement__close__aria-label">
      <span id="announcement__close__aria-label" class="visually-hidden">{{ "Close announcement"|t }}</span>
    </button>
  </div>
</div>
