{% set block_modifier = 'announcement--' ~ node.getAnnouncementType() %}
{% set labels = node.getLabels() %}
{% set announcement_attributes = {
  'class': [
    'announcement__container',
  ]
} %}
{% if language.id != node_langcode %}
  {% set announcement_attributes = announcement_attributes|merge({
    'dir': lang_attributes.fallback_dir,
    'lang': lang_attributes.fallback_lang
  })
  %}
{% endif %}

{% if content.field_announcement_title.0['#context'].value %}
  {% set announcement_title = content.field_announcement_title.0['#context'].value ~ ' -' %}
{% endif %}

{% set link = content.field_announcement_link[0] %}

<section aria-label="{{ announcement_title }} {{ labels.type }}" class="announcement js-announcement {{ block_modifier }} container" data-uuid="{{ node.uuid.value }}">
  <div {{ create_attribute(announcement_attributes) }}>
    {% set announcement_close_labelled_by = "announcement__close__aria-label--" ~ random() %}
    <button type="button" class="announcement__close js-announcement__close--disabled" aria-labelledby="{{announcement_close_labelled_by}}">
      <span id="{{announcement_close_labelled_by}}" class="is-hidden">{{ [announcement_title, labels.close, labels.type|lower]|join(" ") }}</span>
    </button>
    <div class="announcement__content">
      {% if content.body|render != null %}
        <div class="announcement__content-body">
          {{ content.body }}
        </div>
      {% endif %}
      {% if link != null %}
        <div class="announcement__link">
          {{ link }}
        </div>
      {% endif %}
    </div>
  </div>
</section>
