{% set dialog_attributes = {
  'class': [
    'dialog',
    'dialog--survey',
    'hide-from-table-of-contents',
  ],
  'id': 'helfi-survey'
} %}

{% if current_langcode != node_langcode %}
  {% set dialog_attributes = dialog_attributes|merge({
    'dir': lang_attributes.fallback_dir,
    'lang': lang_attributes.fallback_lang
  })
  %}
{% endif %}
<div class="dialog__container dialog__container--survey" id="helfi-survey__container" data-uuid="{{ node.uuid.value }}" style="display: none">
  <div class="dialog__overlay" tabindex="-1"></div>
  <dialog {{ create_attribute(dialog_attributes) }}>
    <div class="dialog__header">
      <h2 class="dialog__title" id="helfi-survey__title">{{ label }}</h2>
    </div>
    <div class="dialog__content">
      {{ content.body }}
    </div>
    <div class="dialog__actions">
      {% include '@hdbt/navigation/link-button.html.twig' with {
        type: 'primary',
        label: 'Respond to the survey'|t({}, {'context': 'Survey'}),
        url: content.field_survey_link.0['#url'],
        link_options: {'class': ['dialog__action-button']},
      } %}
      <button class="dialog__action-button" data-hds-component="button" data-hds-variant="secondary" id="helfi-survey__close-button">
        {{ "Skip the survey"|t({}, {'context': 'Survey'}) }}
      </button>
    </div>
  </dialog>
</div>
