{% set dialog_attributes = {
  'class': [
    'survey',
  ],
  'id': 'helfi-survey'
} %}

{% if current_langcode != node_langcode %}
  {% set dialog_attributes = dialog_attributes|merge({
    'dir': lang_attributes.fallback_dir,
    'lang': lang_attributes.fallback_lang
  })
  %}
{% endif %}
<div class="survey__container" id="helfi-survey__container" data-uuid="{{ node.uuid.value }}" style="display: none">
  <div class="survey__overlay" tabindex="-1"></div>
  <dialog {{ create_attribute(dialog_attributes) }}>
    <h2 class="survey__title" id="helfi-survey__title">{{ label }}</h2>
    <div class="survey__content">
      {{ content.body }}
    </div>
    <div class="survey__links">
      {% include '@hdbt/navigation/link-button.html.twig' with {
        type: 'primary',
        label: 'Participate'|t({}, {'context': 'Survey'}),
        url: content.field_survey_link.0['#url'],
        link_options: {'class': ['survey__link', 'survey__link--participate']},
      } %}
      <button class="survey__link survey__link--close" data-hds-component="button" data-hds-variant="secondary" id="helfi-survey__close-button">
        {{ 'Close the dialog'|t({}, {'context': 'Survey'}) }}
      </button>
    </div>
  </dialog>
</div>
