{% set announcement_attributes = {
  'class': [
    'announcement__container',
  ]
} %}
{% if current_langcode != node_langcode %}
  {% set announcement_attributes = announcement_attributes|merge({
    'dir': lang_attributes.fallback_dir,
    'lang': lang_attributes.fallback_lang
  })
  %}
{% endif %}

{% set link = content.field_survey_link[0] %}

<section aria-label="{{ type_label }}" class="announcement js-announcement {{ block_modifier }} container" data-uuid="{{ node.uuid.value }}">
  <div {{ create_attribute(announcement_attributes) }}>
    <div class="announcement__content">
      {% if content.body|render != null %}
        <div class="announcenemnt__content-body">
          {{ content.body }}
        </div>
      {% endif %}
      {% if link != null %}
        <div class="announcement__link">
          {{ link }}
        </div>
      {% endif %}
    </div>
  </div>
</section>
