{#
/**
 * @file
 * Consists a list of all components with a markup example and componnet.
#}
<div class="component-library-wrapper">
  <nav role="navigation" class="component-library__nav-wrapper">
    <input class="component-library__toggle" name="toggle" type="checkbox" />
    <label for="toggle">
      <div class="toggle--open">{% include "@hdbt/misc/icon.twig" with {icon: 'menu-hamburger', label: 'Open menu'|t } %}</div>
      <div class="toggle--close">{% include "@hdbt/misc/icon.twig" with {icon: 'cross', label: 'Close menu'|t } %}</div>
    </label>
    <ul class="component-library__nav" id="menu"></ul>
  </nav>

  {#
  /**
   * Components
   */
  #}
  <h2>Components</h2>

  {#
  Example.
  <button class="component-library__accordion">Icon</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      {% include '@hdbt/misc/icon.twig' with {icon: 'icon', label: 'Test label for the icon'|t } %}
    </div>
    <div class="component-library__code">
      {{ "
        {% include '@hdbt/misc/icon.twig' with {icon: 'icon', label: 'Test label for the icon'|t } %}
      " }}
    </div>
  </div>
  #}

  <button class="component-library__accordion">Card - Image placeholder</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      <div style="max-width: 400px;">
        {% include '@hdbt/media/image--card.html.twig' with {content: '' } %}
      </div>
    </div>
    <div class="component-library__code">
      {{ "
      {% include '@hdbt/media/image--card.html.twig' with {content: '' } %}
      " }}
    </div>
  </div>

  <button class="component-library__accordion">Status labels</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      {% set status_labels = {
        default: { label: 'Status label - Default' },
        info: { type: 'info', label: 'Status label - Info' },
        success: { type: 'success', label: 'Status label - Success' },
        alert: { type: 'alert', label: 'Status label - Alert' },
        error: { type: 'error', label: 'Status label - Error' },
      } %}
      {% for status in status_labels %}
        <div style="display:inline-block; margin-bottom: 1rem; margin-right: 1rem;">
          {% include '@hdbt/misc/status-label.html.twig' with { type: status.type, label: status.label } %}
        </div>
      {% endfor %}
    </div>
    <div class="component-library__code">
      {{ "
          {% include '@hdbt/misc/status-label.html.twig' with { type: 'error', label: 'Label which indicates error' } %}
      " }}
    </div>
  </div>

  <button class="component-library__accordion">Status messages</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      {% set message_list = {
        error: ['First error message'],
        warning: ['First warning message', 'Second warning message'],
        default: ['First normal message', 'Second normal message'],
        success: ['First success message', 'Second success message'],
      } %}
      {% set small_message_list = {
        error: ['First error message'],
        warning: ['First warning message'],
        default: ['First normal message'],
        success: ['First success message'],
      } %}
      {% set status_headings = {
        error: 'Error',
        warning: 'Warning',
        default: 'Info',
        success: 'Success'
      } %}
      <h4>Notification size: Default</h4>
      {% include '@hdbt/misc/status-messages.html.twig' with { status_headings: status_headings, message_list: message_list } %}
      <h4>Notification size: Small</h4>
      {% include '@hdbt/misc/status-messages.html.twig' with { status_headings: '', message_list: small_message_list, size: 'small' } %}
      <h4>Notification size: Large</h4>
      {% include '@hdbt/misc/status-messages.html.twig' with { status_headings: status_headings, message_list: message_list, size: 'large' } %}
    </div>
    <div class="component-library__code">
      {{ "
        {% include '@hdbt/misc/status-messages.html.twig' with { status_headings: status_headings, message_list: message_list, size: 'large' } %}
      " }}
    </div>
  </div>

  <button class="component-library__accordion">Tag</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      {% set tags = {
        default: { label: 'Tag - Default' },
        clickable: { label: 'Tag - Clickable', url: 'https://hds.hel.fi/components/tag#clickable-tags' },
        deletable: { label: 'Tag - Deletable', type: 'deletable' },
      } %}
      {% for tag in tags %}
        <div style="display:inline-block; margin-bottom: 1rem; margin-right: 1rem;">
          {% include '@hdbt/misc/tag.html.twig' with { type: tag.type, label: tag.label, url: tag.url } %}
        </div>
      {% endfor %}
    </div>
    <div class="component-library__code">
      {{ "
          {% include '@hdbt/misc/tag.html.twig' with { label: 'Label for the tag', url: 'https://hds.hel.fi/components/tag#clickable-tags' } %}
      " }}
    </div>
  </div>

  {#
  /**
   * Form elements
   */
  #}
  <h3>Form elements</h3>

  <button class="component-library__accordion">Button - Primary</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      {% include '@hdbt/button/button.html.twig' with {type: 'primary', disabled: false, label: 'Primary'|t } %}
      {% include '@hdbt/button/button.html.twig' with {type: 'primary', disabled: true, label: 'Primary disabled'|t } %}
    </div>
    <div class="component-library__code">
      {{ "
      {% include '@hdbt/button/button.html.twig' with {type: 'primary', disabled: false, label: 'Primary'|t } %}
      " }}
    </div>
  </div>

  <button class="component-library__accordion">Button - Secondary</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      {% include '@hdbt/button/button.html.twig' with {type: 'secondary', disabled: false, label: 'Secondary'|t } %}
      {% include '@hdbt/button/button.html.twig' with {type: 'secondary', disabled: true, label: 'Secondary disabled'|t } %}
    </div>
    <div class="component-library__code">
      {{ "
      {% include '@hdbt/button/button.html.twig' with {type: 'secondary', disabled: false, label: 'Secondary'|t } %}
      " }}
    </div>
  </div>

  <button class="component-library__accordion">Button - Supplementary</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      {% include '@hdbt/button/button.html.twig' with {type: 'supplementary', icon_first: true, icon_first_type: 'trash', disabled: false, label: 'Supplementary'|t } %}
      {% include '@hdbt/button/button.html.twig' with {type: 'supplementary', icon_first: true, icon_first_type: 'trash', disabled: true, label: 'Supplementary disabled'|t } %}
    </div>
    <div class="component-library__code">
      {{ "
      {% include '@hdbt/button/button.html.twig' with {type: 'supplementary', icon_first: true, icon_first_type: 'trash', disabled: false, label: 'Supplementary'|t } %}
      " }}
    </div>
  </div>

  <button class="component-library__accordion">Button - Icon buttons</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      {% include '@hdbt/button/button.html.twig' with {type: 'primary', icon_first: true, icon_first_type: 'trash', disabled: false, label: 'Button'|t } %}
      {% include '@hdbt/button/button.html.twig' with {type: 'primary', icon_last: true, icon_last_type: 'trash', disabled: false, label: 'Button'|t } %}
      {% include '@hdbt/button/button.html.twig' with {type: 'primary', icon_first: true, icon_first_type: 'trash', icon_last: true, icon_last_type: 'trash', disabled: false, label: 'Button'|t } %}
    </div>
    <div class="component-library__code">
      {{ "
      {% include '@hdbt/button/button.html.twig' with {type: 'primary', icon_first: true, icon_first_type: 'trash', icon_last: true, icon_last_type: 'trash', disabled: false, label: 'Button'|t } %}
      " }}
    </div>
  </div>

  <button class="component-library__accordion">Button - Small buttons</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      {% include '@hdbt/button/button.html.twig' with {type: 'primary', size: 'small', disabled: false, label: 'Button'|t } %}
      {% include '@hdbt/button/button.html.twig' with {type: 'secondary', size: 'small', disabled: false, label: 'Button'|t } %}
      {% include '@hdbt/button/button.html.twig' with {type: 'supplementary', size: 'small', disabled: false, label: 'Button'|t } %}
    </div>
    <div class="component-library__code">
      {{ "
      {% include '@hdbt/button/button.html.twig' with {type: 'primary', size: 'small', disabled: false, label: 'Button'|t } %}
      " }}
    </div>
  </div>

  <button class="component-library__accordion">Button - Utility buttons</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      {% include '@hdbt/button/button.html.twig' with {type: 'success', disabled: false, label: 'Success'|t } %}
      {% include '@hdbt/button/button.html.twig' with {type: 'danger', disabled: false, label: 'Danger'|t } %}
    </div>
    <div class="component-library__code">
      {{ "
      {% include '@hdbt/button/button.html.twig' with {type: 'success', disabled: false, label: 'Success'|t } %}
      " }}
    </div>
  </div>

  <button class="component-library__accordion">Checkbox</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      <!-- Enabled -->
      <div class="hds-checkbox">
        <input type="checkbox" id="checkbox" class="hds-checkbox__input" />
        <label for="checkbox"  class="hds-checkbox__label">Label</label>
      </div>
      <!-- Enabled & selected -->
      <div class="hds-checkbox">
        <input type="checkbox" id="checkbox" class="hds-checkbox__input" checked />
        <label for="checkbox"  class="hds-checkbox__label">Label</label>
      </div>
      <!-- Disabled -->
      <div class="hds-checkbox">
        <input type="checkbox" id="checkbox" class="hds-checkbox__input" disabled />
        <label for="checkbox"  class="hds-checkbox__label">Label</label>
      </div>
      <!-- Disabled & selected -->
      <div class="hds-checkbox">
        <input type="checkbox" id="checkbox" class="hds-checkbox__input" checked disabled />
        <label for="checkbox"  class="hds-checkbox__label">Label</label>
      </div>
    </div>
    <div class="component-library__code">
      Use Drupal Form API Checkbox or this markup:<br /><br />
      {{ '<div class="hds-checkbox">'|e('html') }}<br />
      &nbsp;&nbsp;{{ '<input type="checkbox" id="checkbox1" class="hds-checkbox__input" value="foo" />'|e('html') }}<br />
      &nbsp;&nbsp;{{ '<label for="checkbox1" class="hds-checkbox__label">Option</label>\n'|e('html') }}<br />
      {{ '</div>'|e('html') }}
    </div>
  </div>

  <button class="component-library__accordion">Radio button</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      <!-- Enabled-->
      <div class="hds-radio-button">
        <input type="radio" id="radio1" class="hds-radio-button__input" name="example" value="foo" />
        <label for="radio1" class="hds-radio-button__label">Option</label>
      </div>
      <!-- Enabled & selected -->
      <div class="hds-radio-button">
        <input type="radio" id="radio2" class="hds-radio-button__input" name="example" value="bar" checked />
        <label for="radio2" class="hds-radio-button__label">Option</label>
      </div>
      <!-- Disabled -->
      <div class="hds-radio-button">
        <input type="radio" id="radio3" class="hds-radio-button__input" name="example" value="baz" disabled />
        <label for="radio3" class="hds-radio-button__label">Option</label>
      </div>
      <!-- Disabled & selected -->
      <div class="hds-radio-button">
        <input type="radio" id="radio4" class="hds-radio-button__input" checked disabled />
        <label for="radio4" class="hds-radio-button__label">Option</label>
      </div>
    </div>
    <div class="component-library__code">
      Use Drupal Form API Radio button or this markup:<br /><br />
      {{ '<div class="hds-radio-button">'|e('html') }}<br />
      &nbsp;&nbsp;{{ '<input type="radio" id="radio" class="hds-radio-button__input" />\n'|e('html') }}<br />
      &nbsp;&nbsp;{{ '<label for="radio" class="hds-radio-button__label">Label</label>\n'|e('html') }}<br />
      {{ '</div>'|e('html') }}
    </div>
  </div>

  <button class="component-library__accordion">Text input</button>
  <div class="component-library__panel">
    <div class="component-library__example component-library__example--text-input">
      <!-- Default -->
      <h3>Default</h3>
      <div class="hds-text-input">
        <label for="text-input1"  class="hds-text-input__label">Label</label>
        <div class="hds-text-input__input-wrapper">
          <input type="text" id="text-input1" class="hds-text-input__input" placeholder="Placeholder" />
        </div>
        <span class="hds-text-input__helper-text">Assistive text</span>
      </div>
      <br />
      <hr />
      <br />
      <!-- Read-only -->
      <h3>Read-only</h3>
      <div class="hds-text-input">
        <label for="text-input2"  class="hds-text-input__label">Label</label>
        <div class="hds-text-input__input-wrapper">
          <input type="text" id="text-input2" class="hds-text-input__input" value="Read-only" readonly />
        </div>
        <span class="hds-text-input__helper-text">Assistive text</span>
      </div>
      <br />
      <hr />
      <br />
      <!-- Disabled -->
      <h3>Disabled</h3>
      <div class="hds-text-input">
        <label for="text-input3"  class="hds-text-input__label">Label</label>
        <div class="hds-text-input__input-wrapper">
          <input type="text" id="text-input3" class="hds-text-input__input" value="Disabled" disabled />
        </div>
        <span class="hds-text-input__helper-text">Assistive text</span>
      </div>
      <br />
      <hr />
      <br />
      <!-- Invalid -->
      <h3>Invalid</h3>
      <div class="hds-text-input hds-text-input--invalid">
        <label for="text-input4"  class="hds-text-input__label">Label</label>
        <div class="hds-text-input__input-wrapper">
          <input type="text" id="text-input4" class="hds-text-input__input" placeholder="Placeholder" />
        </div>
        <span class="hds-text-input__helper-text">Assistive text</span>
      </div>
      <br />
      <hr />
      <br />
      <!-- Required -->
      <h3>Required</h3>
      <div class="hds-text-input">
        <label for="text-input5"  class="hds-text-input__label">Label<span class="hds-text-input__required">*</span></label>
        <div class="hds-text-input__input-wrapper">
          <input type="text" id="text-input5" class="hds-text-input__input" placeholder="Placeholder" required />
        </div>
        <span class="hds-text-input__helper-text">Assistive text</span>
      </div>
    </div>
    <div class="component-library__code">
      Use Drupal Form API Checkbox or this markup:<br /><br />
      {{ '<div class="hds-text-input">'|e('html') }}<br />
      &nbsp;&nbsp;{{ '<label for="text-input1"  class="hds-text-input__label">Label<span class="hds-text-input__required">*</span></label>\n'|e('html') }}<br />
      &nbsp;&nbsp;{{ '<div class="hds-text-input__input-wrapper">\n'|e('html') }}<br />
          {{ '<input type="text" id="text-input1" class="hds-text-input__input" placeholder="Placeholder" />\n'|e('html') }}<br />
        {{ '</div>\n'|e('html') }}<br />
        {{ '<span class="hds-text-input__helper-text">Assistive text</span>\n'|e('html') }}<br />
      {{ '</div>'|e('html') }}
    </div>
  </div>

  <button class="component-library__accordion">Textarea</button>
  <div class="component-library__panel">
    <div class="component-library__example component-library__example--text-input">
      <!-- Default -->
      <h3>Default</h3>
      <div class="hds-text-input">
        <label for="textarea1"  class="hds-text-input__label">Label</label>
        <div class="hds-text-input__input-wrapper">
          <textarea id="textarea1" class="hds-text-input__input" placeholder="Placeholder">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>
        </div>
        <span class="hds-text-input__helper-text">Assistive text</span>
      </div>
      <br />
      <hr />
      <br />
      <!-- Disabled -->
      <h3>Disabled</h3>
      <div class="hds-text-input">
        <label for="textarea2"  class="hds-text-input__label">Label</label>
        <div class="hds-text-input__input-wrapper">
          <textarea id="textarea2" class="hds-text-input__input" placeholder="Placeholder" disabled>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>
        </div>
        <span class="hds-text-input__helper-text">Assistive text</span>
      </div>
      <br />
      <hr />
      <br />
      <!-- Invalid -->
      <h3>Invalid</h3>
      <div class="hds-text-input hds-text-input--invalid">
        <label for="textarea3"  class="hds-text-input__label">Label</label>
        <div class="hds-text-input__input-wrapper">
          <textarea id="textarea3" class="hds-text-input__input" placeholder="Placeholder">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>
        </div>
        <span class="hds-text-input__helper-text">Assistive text</span>
      </div>
      <br />
      <hr />
      <br />
      <!-- Required -->
      <h3>Required</h3>
      <div class="hds-text-input">
        <label for="textarea4"  class="hds-text-input__label">Label<span class="hds-text-input__required">*</span></label>
        <div class="hds-text-input__input-wrapper">
          <textarea id="textarea4" class="hds-text-input__input" placeholder="Placeholder" required>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>
        </div>
        <span class="hds-text-input__helper-text">Assistive text</span>
      </div>
    </div>
    <div class="component-library__code">
      Use Drupal Form API Checkbox or this markup:<br /><br />
      {{ '<div class="hds-text-input">'|e('html') }}<br />
      &nbsp;&nbsp;{{ '<label for="textarea1"  class="hds-text-input__label">Label<span class="hds-text-input__required">*</span></label>\n'|e('html') }}<br />
      &nbsp;&nbsp;{{ '<div class="hds-text-input__input-wrapper">\n'|e('html') }}<br />
      {{ '<textarea id="textarea1" class="hds-text-input__input" placeholder="Placeholder">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>\n'|e('html') }}<br />
      {{ '</div>\n'|e('html') }}<br />
      {{ '<span class="hds-text-input__helper-text">Assistive text</span>\n'|e('html') }}<br />
      {{ '</div>'|e('html') }}
    </div>
  </div>

  <h2>Icons</h2>
  <button class="component-library__accordion">Icons</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      <div class="component-library__icons">
        {% for icon in icons %}
          <div class="component-library__icon">
            <div class="component-library__icon__svg">
              {% include '@hdbt/misc/icon.twig' with {icon: icon, label: 'Test label for the ' ~ icon|t } %}
            </div>
            <div class="component-library__icon__name">
              {{ icon }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="component-library__code">
      {{ "
        {% include '@hdbt/misc/icon.twig' with {icon: 'icon', label: 'Test label for the icon'|t } %}
      " }}
    </div>
  </div>

  <h2>Koros</h2>
  <button class="component-library__accordion">Koros</button>
  <div class="component-library__panel">
    <div class="component-library__example">
      <div class="component-library__icons">
        Wave:<br />
        {% include '@hdbt/misc/koro.twig' with {koro: 'wave'} %}
        <br /><br />
        Vibration:<br />
        {% include '@hdbt/misc/koro.twig' with {koro: 'vibration'} %}
        <br /><br />
        Beat:<br />
        {% include '@hdbt/misc/koro.twig' with {koro: 'beat'} %}
        <br /><br />
        Pulse:<br />
        {% include '@hdbt/misc/koro.twig' with {koro: 'pulse'} %}
        <br /><br />
        Basic:<br />
        {% include '@hdbt/misc/koro.twig' %}
        <br /><br />
        Calm:<br />
        {% include '@hdbt/misc/koro.twig' with {koro: 'calm'} %}
        <br /><br />
        Basic (inverted):<br />
        {% include '@hdbt/misc/koro.twig' with {koro: 'pulse', flip: true} %}
        <br /><br />
        Basic (custom color):<br />
        {% include '@hdbt/misc/koro.twig' with {koro: 'basic', color: 'var(--color-copper)'} %}
      </div>
    </div>
    <div class="component-library__code">
      {{ "
        {% include '@hdbt/misc/koro.twig' with {koro: 'basic', flip: true, color: 'var(--color-copper)'} %}
      " }}
    </div>
  </div>
</div>
