{# External entities don't have published state so check that the printed entity is node #}
{% if node is not null %}
  {%
    set default_classes = [
      not node.isPublished() ? 'news-listing__content--unpublished',
    ]
  %}
{% endif %}

{# Role is removed from below to avoid populating UI with role="article" elements for accessibility #}
<div{{ attributes.removeAttribute('role').addClass('news-listing__content', default_classes, class) }}">
  {# Short title or Title #}
  <{{ heading_level }} class="news-listing__title">
    {% set link_attributes = {
      'class': [
        'news-listing__link',
      ],
      'rel': 'bookmark',
    } %}
    {{ link(short_title, node_url, link_attributes) }}
  </{{ heading_level }}>

  {# Created date and modified date #}
  {% if published_at is not empty %}
    {% set html_published_at = published_at|format_date('custom', 'Y-m-d') ~ 'T' ~ published_at|format_date('custom', 'H:i') %}
    <time datetime="{{ html_published_at }}" class="news-listing__datetime news-listing__datetime--published" {{ alternative_language ? create_attribute(({ 'lang': lang_attributes.fallback_lang, 'dir': lang_attributes.fallback_dir })) }}>
      <span class="visually-hidden">{{ 'Published'|t({}, {'context': 'The helper text before the node published timestamp'}) }}</span>
      {{ published_at|format_date('publication_date_format') }}
    </time>
  {% endif %}
</div>

{% if show_image %}
  {# Main image #}
  {% if content.field_main_image|render %}
    <div class="news-listing__img">
      {{ content.field_main_image }}
    </div>
  {% endif %}
{% endif %}
