{% macro menu_links(menu_tree, current_depth, max_depth, collapsible) %}
  {% import _self as macros %}
  {% for item in menu_tree %}
    {%
      set liClass = [
      item.subitem and current_depth < max_depth ? 'helfi_ahjo--expanded block-taxonomymenu__tree-item block-taxonomymenu__tree-item--expanded' : 'helfi_ahjo block-taxonomymenu__tree-item',
    ]
    %}
    <li class="{{ liClass|join(' ') }}">
      {% if item.name is not null %}
      <a href="{{ item.url }}" class="block-taxonomymenu__link">{{ item.name }}{% if item.show_count == true %} [{{ item.entities|length }}]{% endif %}
        {% if item.subitem and current_depth < max_depth %}
          <i class="arrow-right parent-toggle" aria-hidden="true"></i><span class="visually-hidden">Expand Secondary Navigation Menu</span>
        {% endif %}</a>
      {% if item.subitem and current_depth < max_depth %}

      {% if collapsible == TRUE %}
      <ul class="ahjo-tree block-taxonomymenu__submenu collapsed-submenu">
        {% else %}
        <ul class="ahjo-tree block-taxonomymenu__submenu">
          {% endif %}
          {{ macros.menu_links(item.subitem, current_depth + 1, max_depth, collapsible) }}
        </ul>
        {% endif %}
        {% endif %}
    </li>
  {% endfor %}
{% endmacro %}

    {% import _self as macros %}
<ul class="menu hierarchical-taxonomy-tree block-taxonomymenu__tree">
  {{ macros.menu_links(menu_tree, 0, max_depth, collapsible) }}
</ul>
