{% if links %}
  {{ attach_library('hdbt/language-toast') }}
  <div {{ attributes.addClass('language-switcher', 'js-language-switcher') }}>
    <div class="language-links">
      {% for item in links %}
        {% set language_link = '' %}
        {% set lang = item.link['#options']['#abbreviation'] %}
        {% set untranslated = item.link['#options']['#untranslated'] %}
        {% set nolink = item.link['#options']['#nolink'] %}
        {% set alternative_language = not item.link['#options']['#primary_language'] %}
        {% set classes = ['language-link'] %}
        {% set ariaCurrent = null %}
        {% set title = null %}

        {# Check if link is part of alternative menu and set class accordingly. #}
        {% set classes = classes|merge([alternative_language ? 'is-alternative' : '']) %}

        {% if not untranslated and not alternative_language and lang != language.id %}
          {% set language_link = path('<current>', {}, {'language': item.link['#options']['language']}) %}
          {% set element = 'a' %}
        {% elseif lang == language.id and not nolink %}
          {% set language_link = path('<current>', {}, {'language': item.link['#options']['language']}) %}
          {% set element = 'a' %}
          {% set ariaCurrent = create_attribute({'aria-current': 'true'}) %}
          {% set classes = classes|merge(['is-disabled']) %}
        {% else %}
          {% set element = 'button' %}
          {% set classes = classes|merge(['is-disabled', 'has-toast']) %}
          {% if lang == 'en' %}
            {% set title = create_attribute({'title': 'There is no English translation for this page'}) %}
          {% elseif lang == 'fi' %}
            {% set title = create_attribute({'title': 'Tästä sivusta ei ole suomenkielistä käännöstä'}) %}
          {% elseif lang == 'sv' %}
            {% set title = create_attribute({'title': 'Det finns ingen svensk översättning för denna sida'}) %}
          {% elseif lang == 'ru' %}
            {% set title = create_attribute({'title': 'Для этой страницы нет русского перевода'}) %}
          {% endif %}
          {% set language_toast %}
            <div class="language-toast language-toast__closed">
              {% set language_toast_close_labelled_by = "language-toast__close__aria-label--" ~ random() %}
              <button class="language-toast__close" aria-labelledby="{{ language_toast_close_labelled_by }}">
                <span id="{{language_toast_close_labelled_by}}" class="is-hidden">Close toast</span>
              </button>
              <div class="language-toast__content">
                This page is not available in English. Go to the homepage to access the website's English-language content.
                <a href="#" class="language-toast__link">Return to the front page</a>
              </div>
            </div>
          {% endset %}
        {% endif %}

        {# Construct the element based on variables. #}
      <span class="language-link__wrapper">
        <{{ element }}
          {{ create_attribute({'class': classes}) }}
          {{ language_link ? create_attribute({'href': language_link}) }}
          {{ create_attribute({'lang': lang}) }}
          {{ ariaCurrent }}
          {{ title }}
        >{{ item.text|capitalize }}
         </{{ element }}>
        {{ language_toast }}
      </span>
      {% endfor %}
    </div>
  </div>
{% endif %}
