{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, allow_collabsible, auto_open, menu_depth) }}

{% macro menu_links(items, attributes, menu_level, allow_collabsible, auto_open, menu_depth) %}
  {% import _self as menus %}
  {% set max_level = menu_depth %}
  {%
    set menu_classes = [
      'menu',
      'menu--level-' ~ menu_level
    ]
  %}

  {# Allow overriding these variables when embedding from other nav types #}
  {% set allow_collabsible = allow_collabsible|default(false) %}
  {% set auto_open = auto_open|default(false) %}

  {% if items %}
    <ul{{ attributes.removeAttribute('class').addClass(menu_classes) }}>
    {% for item in items %}
      {% set has_children = false %}
      {% set expanded_or_active = false %}
      {% set level = menu_level + 2 %}
      {% if level <= max_level - 2 %}
        {% set has_children = item.below %}
        {% set expanded_or_active = item.is_expanded or item.in_active_trail %} {# Does this variable make any sense? #}
      {% endif %}

      {% set link_id = 'aria-id-' ~ random() %}
      {% set item_is_collabsible = (allow_collabsible and (item.is_collapsed or item.is_expanded) and has_children) ? true : false %}

      {% set item_classes = [
        'menu__item',
        item.is_nolink ? 'menu__item--nolink',
        expanded_or_active ? 'menu__item--children',
        has_children ? 'menu__item--item-below',
        item.in_active_trail ? 'menu__item--active-trail',
        (auto_open and item.in_active_trail) ? 'menu__item--open',
      ]%}

      {% set aria_expanded = (auto_open and item.in_active_trail) ? 'true' : 'false' %}

      {% set item_lang = '' %}
      {% if item.attributes.lang %}
        {% set item_lang %} lang="{{ item.attributes.lang }}"{% endset %}
      {% endif %}

      <li{{ item.attributes.removeAttribute('class', 'lang').addClass(item_classes) }}>
        <span class="menu__link-wrapper">
          {% if not item.is_nolink %}
            {% apply spaceless %}

              {% set item_title %}
                {% set icon_name = (item.url.getOption('attributes')).icon %}
                {% if icon_name %}
                  {% include '@hdbt/misc/icon.twig' with {icon: icon_name, class: 'menu__link__icon'} %}
                {% endif %}
                <span class="menu__link__text"{{ item_lang }}>{{ item.title }}</span>
              {% endset %}

              {% set link_attributes = {
                'class': [
                  'menu__link',
                  item.in_active_trail ? 'menu__link--active-trail',
                ],
                'id': item_is_collabsible ? link_id : null,
                'aria-current': item.is_currentPage ? 'page' : null,
              } %}

              {{ link(item_title, item.url, link_attributes) }}

            {% endapply %}
          {% else %}
            <span{{ create_attribute({'class': item_classes|merge(['menu__nolink'])}) }}><span class="menu__link__text" id="{{ item_is_collabsible ? link_id }}"{{ item_lang }}>{{ item.title }}</span></span>
          {% endif %}

          {% set menu_aria_controls = "menu--level-" ~ (menu_level + 1) ~ "-" ~ menu_id ~ random() %}

          {% if item_is_collabsible %}
            <button
              type="button"
              aria-expanded="{{ aria_expanded }}"
              aria-controls="{{ menu_aria_controls }}"
              aria-labelledby="{{ link_id }}"
              class="menu__toggle-button">
              {% include '@hdbt/misc/icon.twig' with {icon: 'angle-down', class: 'menu__toggle-button-icon'} %}
            </button>
          {% endif %}
        </span>
        {% if has_children %}
          {{ menus.menu_links(item.below, attributes|without('class').setAttribute('id', menu_aria_controls), menu_level + 1, allow_collabsible, auto_open, menu_depth) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
