{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{# Do we want to render navigation with content from another instance "globally" #}

{% if not use_global_navigation %}
  {#
    We call a macro which calls itself to render the full tree.
    @see https://twig.symfony.com/doc/1.x/tags/macro.html
  #}
  {{ menus.menu_links(items, attributes, 0, menu_depth) }}

  {% macro menu_links(items, attributes, menu_level, menu_depth) %}
    {% import _self as menus %}
    {% set max_level = menu_depth %}

    {% if menu_level == 0 %}
      {% set ul_class = 'cssnav' %}
    {% else %}
      {% set ul_class = 'cssnav__subnav' %}
    {% endif %}

    {% if items %}
      <ul{{ attributes.addClass(ul_class) }}>
        {% for item in items %}
          {% set level = menu_level + 1 %}
          {% set has_children = false %}
          {% if level <= max_level - 2 %}
            {% set has_children = item.below %}
          {% endif %}
          {% set item_classes = [
            'cssnav__item',
            item.is_nolink ? 'cssnav__item--nolink',
            has_children ? 'cssnav__item--has-children',
            item.in_active_trail ? 'cssnav__item--in-path',
            'cssnav__item--level-' ~ (level + 1),
          ]%}

          <li{{ item.attributes.addClass(item_classes) }}>

            {% set item_lang = '' %}
            {% if item.attributes.lang %}
              {% set item_lang %} lang="{{ item.attributes.lang }}"{% endset %}
            {% endif %}

            {% set item_title %}
              <span class="mmenu__link__text"{{ item_lang }}>{{ item.title }}</span>
            {% endset %}

            {% set item_title = item.title %}
            {% if not item.is_nolink %}
              {% apply spaceless %}

                {% set icon_name = (item.url.getOption('attributes')).icon %}
                {% if icon_name %}
                  {% set item_title %}
                    {% include '@hdbt/misc/icon.twig' with {icon: icon_name, class: 'cssnav__link__icon'} %}
                    <span class="cssnav__link__text">{{ item.title }}</span>
                  {% endset %}
                {% endif %}

                {% set link_attributes = {
                  'class':
                  [
                    'cssnav__link',
                    item.in_active_trail ? 'cssnav__link--in-path',
                  ],
                  'aria-current': item.is_currentPage ? 'page': null,
                } %}

                {{ link(item_title, item.url, link_attributes) }}

              {% endapply %}
            {% else %}
              <span{{ create_attribute({'class': 'cssnav__item__nolink'} ) }}>{{ item.title }}</span>
            {% endif %}
            {% if has_children %}
              <details {{item.in_active_trail ? 'open'}}>
                <summary>
                  <span class="cssnav__text-mirror">{{ item_title }}</span>
                  <span class="cssnav__toggle"><span class="visually-hidden">{{ 'Toggle submenu:'|t({}, {'context': 'Mobile navigation submenu prefix'}) }} {{ item.title }}</span></span>
                </summary>
                {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_depth) }}
              </details>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endmacro %}
{% endif %}
