{% set menu_open %}
  {% if open_screenreader %}
    <span aria-hidden="true">{{ open_label }}</span>
    <span class="visually-hidden">{{ open_screenreader }}</span>
  {% else %}
    <span>{{ open_label }}</span>
  {% endif %}
{% endset %}

{% set menu_close %}
  {% if close_screenreader %}
    <span aria-hidden="true">{{ close_label }}</span>
    <span class="visually-hidden">{{ close_screenreader }}</span>
  {% else %}
    <span>{{ close_label }}</span>
  {% endif %}
{% endset %}

{% if modifier_suffix == 'profile' %}
  {% set label_modified = 'nav-toggle__label--profile' %}
  {% set button_modified = 'nav-toggle__button--profile' %}
{% endif %}

{% set wrapper_classes = ['nav-toggle']|merge(modifier_class is iterable ? modifier_class : [modifier_class]) %}
{% set button_classes = ['nav-toggle__button', js_target]|merge(button_modified is iterable ? button_modified : [button_modified]) %}

<div {{ create_attribute({'class': wrapper_classes}) }}>
  <button {{ create_attribute({'class': button_classes}) }} aria-expanded="false" aria-controls="{{ controls }}" {% if button_language %}lang="{{ button_language }}"{% endif %}>
    <span class="nav-toggle__label {{ label_modified }} nav-toggle__label--open">{{ menu_open }}</span>
    <span class="nav-toggle__label {{ label_modified }} nav-toggle__label--close">{{ menu_close }}</span>
  </button>
</div>
