<div class="embedded-content-cookie-compliance media-{{ media_id }}">
  <div class="message" {{ alternative_language ? create_attribute({'lang': lang_attributes.fallback_lang, 'dir': lang_attributes.fallback_dir}) }}>
    {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'alert-circle-fill'} %}
    <h2>{{ 'Content cannot be displayed'|t({}, {'context': 'Cookie compliance'}) }}</h2>
    <noscript class="js-remove">
      <p>
        {% trans with {'context': 'Generic javascript required message'} %}
            This content requires JavaScript. Your browser doesn't support JavaScript or it is disabled. Please check your browser settings and try again.
        {% endtrans %}
      </p>
    </noscript>
    <p>
      {% trans with {'context': 'Cookie compliance'}%}
        This content is hosted by {{ media_service_url }}. To see the content, switch over to the external site or modify your cookie settings to allow for preference and statistics cookies.
      {% endtrans %}
    </p>
    <div class="buttons">

      {% set external_link_attributes = {
        'class': [
          'hds-button',
          'hds-button--primary',
        ]
      } %}
      {% set external_link_title %}

        {# Add alternative screenreader only text to button if it's available #}
        {% if media_iframe_title %}
          <span class="visually-hidden">
            {{- media_iframe_title -}}
          </span>
        {% endif %}

        {# If screenreader only text is available, hide default button text from screenreaders #}
        <span class="hds-button__label" {% if media_iframe_title %}aria-hidden="true"{% endif %}>
          {{- 'See content on external site'|t({}, {'context': 'Cookie compliance'}) -}}
        </span>

      {% endset %}

      {{ link(external_link_title, media_url, external_link_attributes) }}

      {% set link_title %}
        <span class="hds-button__label">{{ 'Change cookie settings'|t({}, {'context': 'Cookie compliance'}) }}</span>
      {% endset %}
      {% set link_attributes = {
        'class': [
          'hds-button',
          'hds-button--secondary',
        ],
      } %}
      {{ link(link_title, privacy_policy_url, link_attributes) }}

    </div>
  </div>
</div>
