{% if icons_path %}
  {% set icon_id = icon ~ '-' ~ random() %}
  <svg {% if label %} aria-labelledby="{{ icon_id }}" {% endif %} class="icon">
    {% if label %}<title id="{{ icon_id }}">{{ label }}</title>{% endif %}
    <use xlink:href="{{ icons_path|trim }}#{{ icon }}"/>
  </svg>
{% endif %}
