{% set wrapper_classes = ['nav-toggle-dropdown', js_target]|merge(modifier_class is iterable ? modifier_class : [modifier_class]) %}

{% if description %}
  {% set nav_toggle_dropdown_id = id ~ '-menu'|clean_id %}
  <nav id="{{ id }}" role="navigation" {{ create_attribute({'class': wrapper_classes}) }} aria-labelledby="{{ nav_toggle_dropdown_id }}">
    <span class="is-hidden" id="{{ nav_toggle_dropdown_id }}">{{ description }}</span>
{% else %}
  <div id="{{ id }}" {{ create_attribute({'class': wrapper_classes}) }}>
{% endif %}

  <div class="nav-toggle-dropdown__wrapper">
    <div class="nav-toggle-dropdown__content">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>

{% if description %}
  </nav>
{% else %}
  </div>
{% endif %}
