{% set element = 'section' %}
{% set role = '' %}
{% if inside_card %}
  {% set element = 'div' %}
  {% set role %}role="group"{% endset %}
{% endif %}

{% if type == 'interactive' %}
  {% set type_class = 'content-tags__tags--interactive' %}
{% else %}
  {% set type_class = 'content-tags__tags--static' %}
{% endif %}

{% set content_tags_id = 'hdbt-content_tags_id-' ~ random() %}

<{{element}} {{role}} class="content-tags {{ tag_container_class }}"  aria-labelledby="{{ content_tags_id }}">
  <span id="{{ content_tags_id }}" class="is-hidden" {{ alternative_language ? create_attribute(({ 'lang': lang_attributes.fallback_lang, 'dir': lang_attributes.fallback_dir })) }}>
    {{ 'Tags'|t({}, {'context': 'Label for screen reader software users explaining that this is a list of tags related to this page.'}) }}
  </span>
  <ul class="content-tags__tags {{ type_class }}">
    {% block content %}
      {% for tag in tags %}
        {% include '@hdbt/misc/tag.twig' with {
          color: tag.color ? tag.color : color,
          tag: tag.tag ? tag.tag : tag
        }%}
      {% endfor %}
    {% endblock %}
  </ul>
</{{element}}>
