{# See available colors from _tags.scss #}

{% if tag %}
  {% if color %}
    {% set tag_color_class = 'content-tags__tags__tag--' ~ color %}
  {% endif %}
  {% if type %}
    {% set type_class = 'hds-tag--' ~ type %}
  {% endif %}

  <li class="content-tags__tags__tag">
    {% if addSpan %}
      <span class="hds-tag {{ tag_color_class }} {{ type_class }}">{{ tag }}</span>
    {% elseif type is same as('interactive') %}
      <a class="hds-tag {{ tag_color_class }} {{ type_class }}" href="{{ url }}">{{ tag }}</a>
    {% else %}
      <div class="hds-tag {{ tag_color_class }} {{ type_class }}">{{ tag }}</div>
    {% endif %}
  </li>
{% endif %}
