{#
/**
 * @file
 * Theme file for tag.
 *
 * Displays tag.
#}

{% set wrapper_classes = ['hds-tag'] %}
{% set classes = ['hds-tag__label'] %}

{% if label %}
  {% if url %}
    <a role="link" tabindex="0" href="{{ url }}" class="{{ wrapper_classes|join(' ') }}">
      <span class="{{ classes|join(' ') }}">{{ label }}</span>
    </a>
  {% else %}
    <div class="{{ wrapper_classes|join(' ') }}">
      <span class="{{ classes|join(' ') }}">{{ label }}</span>
      {% if type == 'deletable' %}
        <button aria-label="{{ 'Delete item'|t }}" class="hds-tag__delete-button button-reset">
          <span aria-hidden="true" class="hds-icon hds-icon--cross"></span>
        </button>
      {% endif %}
    </div>
  {% endif %}
{% endif %}
