<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
<script>
{# Using inline javascript to hide announcements with as little flashing as possible and considering server cache #}
// !function(){try{for(var e=JSON.parse(window.localStorage.getItem("hidden-helfi-announcements")),n=0;n<e.length;n++){var t=document.querySelector('.js-announcement[data-uuid="'+e[n]+'"]');t&&t.remove()}}catch(e){}}();
{# Above snippet is minimized from source: #}
(function(){
  const uuidsToHide = JSON.parse(window.localStorage.getItem('hidden-helfi-announcements'));
  const elements = document.querySelectorAll('.js-announcement');

  if (!uuidsToHide || !elements) {
    return;
  }

  elements.forEach((element)=>{
    const { uuid } = element.dataset;
    if (uuidsToHide.includes(uuid)) {
      element.remove();
    }
  })
})();
{#
#}
</script>
</div>
