{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" class="logo logo--header" title="{{ 'Back to front page'|t }}" rel="home">
    {% set logo = 'helsinki' %}
    {% set logo_class = '' %}
    {% set logo_alt = 'Helsinki' %}

    {% if current_language == 'sv' %}
      {% set logo = 'helsinki-sv' %}
      {% set logo_class = 'icon--logo-sv' %}
      {% set logo_alt = 'Helsingfors' %}
    {% endif %}

    {% if current_language == 'ru' %}
      {% set logo = 'helsinki-ru' %}
      {% set logo_class = 'icon--logo-ru' %}
      {% set logo_alt = 'Xeльcинки' %}
    {% endif %}

    {% if icons_path %}
      <svg class="icon {{ logo_class }}">
        <title>{{ logo_alt }}</title>
        <use href="{{ icons_path|trim }}#{{ logo }}" />
      </svg>
    {% endif %}
  </a>
{% endblock %}
