<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}

{#
  This script is inlined from hide-announcements library
  js-asset dist/js/hideAnnouncements.min.js, which is a minified
  version of the source js file src/js/hideAnnouncements.js.
  @see hdbt.libraries.yml
  @see _hdbt_get_inline_javascript()
#}
{{ js_hide_announcements }}
</div>
