<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
<script>
{# Using inline javascript to hide announcements with as little flashing as possible and considering server cache #}
!function(){const e=JSON.parse(window.localStorage.getItem("helfi-settings")),t=document.querySelectorAll(".js-announcement");e&&t&&t.forEach(t=>{const{uuid:n}=t.dataset;e["hidden-helfi-announcements"].includes(n)&&t.remove()})}();
{# Above snippet is minimized from source:
(function(){
  const uuidsToHide = JSON.parse(window.localStorage.getItem('helfi-settings'));
  const elements = document.querySelectorAll('.js-announcement');

  if (!uuidsToHide || !elements) {
    return;
  }

  elements.forEach((element)=>{
    const { uuid } = element.dataset;
    if (uuidsToHide['hidden-helfi-announcements'].includes(uuid)) {
      element.remove();
    }
  });
})();
#}
</script>
</div>
