{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{%
  set classes = [
  'paragraph-content',
  'components',
]
%}

<div class="table-of-contents table-of-contents--news-update">
  <div id="helfi-toc-table-of-contents-news-updates" class="table-of-contents__container table-of-contents__js">
    {% set title_attributes = {
      'class': [
        'table-of-contents__title',
      ]
    }
    %}
    {% if alternative_language %}
      {% set title_attributes = title_attributes|merge({
        'dir': lang_attributes.fallback_dir,
        'lang': lang_attributes.fallback_lang
      })
      %}
    {% endif %}
    <h2 {{ create_attribute(title_attributes) }}>{{ 'Latest updates'|t({}, {'context': 'Updating news table of contents title'}) }}</h2>
    <nav id="helfi-toc-table-of-contents-list" class="table-of-contents__content">
      <ul class="table-of-contents__list">
        <li class="js-remove table-of-contents__item">{{ 'Loading table of contents'|t }}</li>
      </ul>
    </nav>
  </div>
  <noscript class="table-of-contents__nojs js-remove">
    <div class="nojs__icon">
      {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'alert-circle-fill'} %}
    </div>
    <div class="nojs__content-wrapper">
      <div class="nojs__content">
        <h2 class="nojs__title"> {{ 'Content cannot be displayed'|t({}, {'context': 'No JS'}) }}</h2>
        <div class="nojs__desc">
          <p>
            {% trans with {'context': 'Table of contents, no javascript'} %}
              Table of contents requires JavaScript. Your browser doesn't support JavaScript or it is disabled. Please check your browser settings and try again.
            {% endtrans %}
          </p>
        </div>
      </div>
    </div>
  </noscript>
</div>

<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
