{#
  Accordion values:
    - heading_level: 'h2'
    - heading_icon:  'person-wheelchair'
    - heading:       'The heading'
    - content:       'The content'
#}

{{ attach_library('hdbt/accordion') }}

{% set controlled_content_id = "accordion-item-content--" ~ random() %}
{% set close_button_labelled_by_id = "accordion-item__button--close--" ~ random() %}
{% set unique_id = heading[0]['#context']['value']|clean_class|clean_unique_id %}

<div class="accordion__wrapper helfi-accordion-item" data-accordion-id="{{unique_id}}">
  <{{ heading_level|default('h2') }} class="accordion-item__header helfi-accordion__header" data-accordion-id="{{unique_id}}">
    <button type="button" class="accordion-item__button accordion-item__button--toggle helfi-accordion__header__button" aria-expanded="true" aria-controls="{{ controlled_content_id }}">
      {% if heading_icon %}
        <div class="accordion-item__icon">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: heading_icon} %}
        </div>
      {% endif %}
      {{ heading|default('Missing heading'|t) }}
    </button>
  </{{ heading_level|default('h2')}}>
  <div class="accordion-item__content helfi-accordion__content" id="{{ controlled_content_id }}">
    <div class="accordion-item__content__animator">
      <div class="accordion-item__content__inner helfi-accordion__content__inner">

        {{ content|default('Missing content'|t) }}

        <button type="button" class="accordion-item__button accordion-item__button--close" aria-controls="{{ controlled_content_id }}" aria-labelledby="{{ close_button_labelled_by_id }}">
          <span class="is-hidden" id="{{ close_button_labelled_by_id }}"><span {{ alternative_language ? create_attribute(({ 'lang': lang_attributes.fallback_lang, 'dir': lang_attributes.fallback_dir })) }}>{{ 'Close element: '|t({}, {'context': 'The helper text for close accordion visibility button'}) }}</span>{{ heading|default('Missing heading'|t) }}</span>
          <span {{ alternative_language ? create_attribute(({ 'lang': lang_attributes.fallback_lang, 'dir': lang_attributes.fallback_dir })) }}>{{ 'Close'|t({}, {'context': 'The text for close accordion visibility button'}) }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
