{#
  Accordion values:
    - heading_level: 'h2'
    - heading_icon:  'person-wheelchair'
    - heading:       'The heading'
    - content:       'The content'
#}

{{ attach_library('hdbt/accordion') }}

{% set controlled_content_id = "accordion-item-content--" ~ random() %}
{% set close_button_labelled_by_id = "accordion-item__button--close--" ~ random() %}

<div class="accordion__wrapper helfi-accordion-item" data-accordion-id="{{heading[0]['#context']['value']|clean_class}}">
  <{{ heading_level|default('h2') }} class="accordion-item__header helfi-accordion__header" data-accordion-id="{{heading[0]['#context']['value']|clean_class}}">
    <button type="button" class="accordion-item__button accordion-item__button--toggle helfi-accordion__header__button" aria-expanded="true" aria-controls="{{ controlled_content_id }}" aria-labelledby="{{ toggle_button_labelledby_id }}">
      {% if heading_icon %}
        <div class="accordion-item__icon">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: heading_icon} %}
        </div>
      {% endif %}
      {{ heading|default('Missing heading'|t) }}
    </button>
  </{{ heading_level|default('h2')}}>
  <div class="accordion-item__content helfi-accordion__content" id="{{ controlled_content_id }}">
    <div class="accordion-item__content__inner helfi-accordion__content__inner">

      {{ content|default('Missing content'|t) }}

      <button type="button" class="accordion-item__button accordion-item__button--close" aria-expanded="true" aria-controls="{{ controlled_content_id }}" aria-labelledby="{{ close_button_labelled_by_id }}">
        <span class="is-hidden" id="{{ close_button_labelled_by_id }}">{{ 'Close element: '|t({}, {'context': 'The helper text for close accordion visibility button'}) }}{{ heading|default('Missing heading'|t) }}</span>
        {{ 'Close'|t }}
      </button>
    </div>
  </div>
</div>
