{#
  Accordion values:
    - heading_level: 'h2'
    - heading_icon:  'person-wheelchair'
    - heading:       'The heading'
    - content:       'The content'
#}

{{ attach_library('hdbt/accordion') }}

{% set accordionId = 'accordion--' ~ random() %}

<details class="accordion-item" id="{{ accordionId }}">
  <summary class="accordion-item__summary">
    <{{ heading_level|default('h2') }} class="accordion-item__header">
      {% if heading_icon %}
        <span class="accordion-item__icon">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: heading_icon} %}
        </span>
      {% endif %}
      {{ heading|default('Missing heading'|t) }}
    </{{ heading_level|default('h2')}}>
  </summary>
  <div class="accordion-item__content">
    {{ content|default('Missing content'|t) }}
    <span class="accordion-item__button accordion-item__button--close" role="button" tabindex="0">
    {{ 'Close'|t }}{% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'angle-up'} %}
  </span>
  </div>
</details>
