{#
  Accordion values:
    - heading_level: 'h2'
    - heading_icon:  'person-wheelchair'
    - heading:       'The heading'
    - content:       'The content'
#}

{{ attach_library('hdbt/accordion') }}

<div class="accordion__wrapper handorgel">
  <{{ heading_level|default('h2') }} class="accordion-item__header handorgel__header">
    <button class="accordion-item__button accordion-item__button--toggle handorgel__header__button">
      {% if heading_icon %}
        <div class="accordion-item__icon">
          {% include '@hdbt/misc/icon.twig' ignore missing with {icon: heading_icon} %}
        </div>
      {% endif %}
      {{ heading|default('Missing heading'|t) }}
    </button>
  </{{ heading_level|default('h2')}}>
  <div class="accordion-item__content handorgel__content">
    <div class="accordion-item__content__inner handorgel__content__inner">
      {{ content|default('Missing content'|t) }}
      <span class="accordion-item__button accordion-item__button--close" role="button">{{ 'Close'|t }}{% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'angle-up', label: 'Close'|t } %}</span>
    </div>
  </div>
</div>
