{#
{% embed '@hdbt/component/card.twig' with {
    card_modifier_class: 'card--cardtype',
    card_image: card_image,
    card_title_level: 'h3',
    card_title_lang: 'fi',
    card_title: 'Otsikko',
    card_url: 'https://www.hel.fi/fi/',
    card_url_external: false,
    card_category_tag: {
      tag: 'Kategoria',
      color: 'gold',
    },
    card_description: 'Lyhyt kuvaus',
    card_description_html: false,
    card_helptext: 'Ohjeteksti',
    card_helptext_html: false,
    card_metas: [
      {
        icon: 'clock',
        label: 'Aika',
        content: 'Lorem'
      },
      {
        icon: 'calendar',
        label: 'Ajanjakso',
        content: 'Ipsum'
      },
    ],
    card_tags: [
      {
        tag:'test',
        color: 'gold',
      },
      {
        tag: 'test2',
      }
    ],
  } %}
{% endembed %}
#}

{{ attach_library('hdbt/card-helper') }}

{% set card_external_class = card_url_external ? 'card--external' : '' %}

<div class="card {{ card_modifier_class }} {{ card_external_class }}">
  {% if card_image %}
    <div class="card__image">
      {{ card_image }}
    </div>
  {% endif %}

  <div class="card__text">
    <{{ card_title_level|default('h4') }} class="card__title" {% if card_title_lang %}lang="{{ card_title_lang }}"{% endif %}>
      {{ link(card_title, card_url, { 'class':['card__link'], 'rel':'bookmark' }) }}
    </{{ card_title_level|default('h4') }}>

    {% if card_category_tag %}
      <div class="card__category">
        {% embed '@hdbt/misc/tag-list.twig'%}
          {% block content %}
            {% include '@hdbt/misc/tag.twig' with {
              tag: card_category_tag.tag,
              color: card_category_tag.color,
              addSpan: true,
            }%}
          {% endblock content %}
        {% endembed %}
      </div>
    {% endif %}

    {% if card_description %}
      <div class="card__description">
        {% if card_description_html %}
          {{ card_description }}
        {% else %}
          <p>{{ card_description }}</p>
        {% endif %}
      </div>
    {% endif %}

    {% if card_helptext %}
      <div class="card__helptext">
        {% if card_helptext_html %}
          {{ card_helptext }}
        {% else %}
          <p>{{ card_helptext }}</p>
        {% endif %}
      </div>
    {% endif %}

    {% if card_metas %}
      <div class="card__metas">
        {% for card_meta in card_metas %}
            <div class="card__meta"><span class="card__meta__icon">{% include '@hdbt/misc/icon.twig' ignore missing with {icon: card_meta.icon} only %}</span><span class="card__meta__label">{{ card_meta.label }}: </span><span class="card__meta__content">{{ card_meta.content }}</span>
            </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if card_tags %}
      <div class="card__tags">
        {% embed '@hdbt/misc/tag-list.twig' with { tags: card_tags, addSpan: true, tag_container_class: ' content-tags--card', inside_card: true } %}
        {% endembed %}
      </div>
    {% endif %}
  </div>
</div>
