{% set dropdown_id = 'search-dropdown' %}

{% embed "@hdbt/misc/nav-toggle-button.twig" with {
  modifier_class: 'nav-toggle--search',
  controls: dropdown_id,
  anchor_target: '#search',
  js_target: 'js-search-button',

  open_label: 'Search'|t({}, {'context': 'Helfi search button'}),

  close_label: 'Close'|t,
} %}
{% endembed %}

{% embed "@hdbt/misc/nav-toggle-dropdown.twig" with {
  id: dropdown_id,
  modifier_class: 'nav-toggle-dropdown--search',
} %}
  {% block content%}
    <div class="header-search-wrapper">
      <div class="header-search__title">{{'Search in City of Helsinki websites'|t({}, {'context': 'Header search title'})}}</div>
      {% include "@hdbt/component/helfi-search-form.twig" with {
        label: 'What are you looking for?'|t({}, {'context': 'Header and hero search label'}),
        search_id: 'header'
      } %}
      <noscript class="header-search__javascript-disabled">
        {% set search_link_text %}
          {{ "Hel.fi search"|t({}, {'context': 'Header search, no javascript link'}) }}
        {% endset %}
        <p>
          {{ link(search_link_text, helfi_search_form_url) }}
          {{ "requires JavaScript. Your browser doesn't support JavaScript or it is disabled. Please check your browser settings and try again."|t({}, {'context': 'Header search, no javascript'}) }}
        </p>
      </noscript>
      <div class="search-container__links-container">
        <div class="search-container__link">
          {% set link_title_events %}
          {{ 'Search for events'|t({}, {'context': 'Header search, search for events'}) }}
          {% endset %}
          {% set link_attributes = {
            'class': [
              'search__link-external',
            ],
          } %}
          {{ link(link_title_events, events_link_url, link_attributes) }}
          <p>{{'Find upcoming events at the Events.hel.fi website.'|t}}</p>
        </div>
        <div class="search-container__link">
          {% set link_title_decisions %}
          {{ 'Search for decisions'|t({}, {'context': 'Header search, search for decisions'}) }}
          {% endset %}
          {{ link(link_title_decisions, decisions_link_url, link_attributes) }}
          <p>{{'Find municipal decisions in the Decision-making section.'|t}}</p>
        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}

