{#
{% embed '@hdbt/component/hero.twig' with {
    design: content.field_hero_design[0]['#markup'],
    title: content.field_hero_title,
    description: content.field_hero_desc,
    image: content.field_hero_image,
  } %}
{% endembed %}
#}

{% if design == "background-image" %}
  {% set design_class = "hero--with-image-bottom" %}
{% elseif design == "diagonal" %}
  {% set design_class = "hero--diagonal" %}
{% elseif design == "with-image-bottom" %}
  {% set design_class = "hero--with-image-bottom" %}
{% elseif design == "with-image-left" %}
  {% set design_class = "hero--with-image-left" %}
{% elseif design == "with-image-right" %}
  {% set design_class = "hero--with-image-right" %}
{% elseif design == "without-image-center" %}
  {% set design_class = "hero--without-image-left" %}
{% elseif design == "without-image-left" %}
  {% set design_class = "hero--without-image-left" %}
{% elseif design == "with-search" %}
  {% set design_class = "hero--with-search" %}
{% elseif design == "with-helsinki-near-you" %}
  {% set design_class = "hero--with-helsinki-near-you" %}
{% endif %}


{% set hero_wrapper_attributes = {
  'class': [
    'hero',
    design_class ? design_class,
  ]
} %}

{% set updated_string = ', ' ~ 'updated'|t({}, {'context': 'The helper text before the news article changed timestamp'}) %}

{# Open figure if image_author is set #}
{% if image_author %}
  <figure>
{% endif %}

<div{{ create_attribute(hero_wrapper_attributes) }}>
  {% embed "@hdbt/misc/container.twig" with {container_element: 'hero'} %}
    {% block container_content %}
      <div class="hero__text-content">
        {# Hyphenate the visible title, but share to screen readers unhyphenated version as for example NVDA reads hyphenated text poorly #}
        <h1 class="hero__title hyphenate" aria-labelledby="page_title">{{ title }}</h1>
        <span class="is-hidden" id="page_title">{{ title }}</span>

        {% if design == "with-search" %}
          {% include "@hdbt/component/helfi-search-form.twig" with {
            label: 'What are you looking for?'|t({}, {'context': 'Header and hero search label'}),
            search_id: 'hero',
          } %}
        {% endif %}

        {% if description|render|striptags|trim is not empty %}
          {% if
            design == "without-image-left" or
            design == "without-image-center" or
            design == "with-image-right" or
            design == "with-image-left" or
            design == "with-image-bottom" or
            design == "diagonal" or
            design == "with-helsinki-near-you"
          %}
            <div class="hero__description user-edited-content">
              {{ description }}
            </div>
          {% endif %}
        {% endif %}

        {% if design == "with-helsinki-near-you" %}
          {% include "@hdbt/component/helfi-helsinki-near-you-form.twig" with {
            label: 'Address'|t({}, {'context': 'Helsinki near you form input label'}),
            search_id: 'helsinki-near-you',
          } %}
        {% endif %}

        {% if published_time|render|striptags|trim is not empty and html_published_time|render|striptags|trim is not empty %}
          <div class="hero__publish-information">
            <span class="visually-hidden">{{ 'Published'|t({}, {'context': 'The helper text before the news article published timestamp'}) }}</span>
            <time datetime="{{ html_published_time }}" class="hero__publish-information__datetime hero__publish-information__datetime--published">{{ published_time }}</time>
            {%- if updated_time|render|striptags|trim is not empty and html_updated_time|render|striptags|trim is not empty and html_updated_time > html_published_time -%}
              {{- updated_string }}
              <time datetime="{{ html_updated_time }}" class="hero__publish-information__datetime hero__publish-information__datetime--updated">{{ updated_time }}</time>
            {%- endif -%}
          </div>
        {% endif %}

      </div>
      <span class="hero__arrow" aria-hidden="true"></span>
    {% endblock %}
  {% endembed %}

  {% if
    design == "with-image-right" or
    design == "with-image-left" or
    design == "with-image-bottom" or
    design == "diagonal" or
    design == "with-search"
  %}
    {% if image|render %}
      <div class="hero__image-container">
        {% include '@hdbt/misc/koro.twig' with { flip: true } %}
        {{ image }}
      </div>
    {% endif %}
  {% endif %}
  {% include '@hdbt/misc/koro.twig' with { flip: false } %}
</div>

{# Add figcaption image_author is set #}
{% if image_author %}
  {% embed "@hdbt/misc/container.twig" with {container_element: 'hero__image-author'} %}
    {% block container_content %}
      {% set figcaption_attributes = {
        'class': [
          'hero__image-author',
        ]
      }%}
      {% if alternative_language %}
        {% set figcaption_attributes = figcaption_attributes|merge({
          'dir': lang_attributes.fallback_dir,
          'lang': lang_attributes.fallback_lang
        })%}
      {% endif %}
      <figcaption {{ create_attribute(figcaption_attributes) }}>
        {{ image_author }}
      </figcaption>
    {% endblock %}
  {% endembed %}
  </figure>
{% endif %}
