{% set video_title_level = 'h2' %}
{% if paragraph_title|render %}
  {% set video_title_level = 'h3' %}
{% endif %}

{% embed "@hdbt/misc/component.twig" with
    {
      component_title: paragraph_title,
      component_description: paragraph_desc,
      component_classes: [
        header_class,
        'component--remote-video',
        'component--full-width'
      ],
      component_content_class: 'remote-video',
    }
  %}
  {% block component_content %}
    {% if video_title|render %}
      <{{ video_title_level }} class="remote-video__video-title">{{ video_title }}</{{ video_title_level }}>
    {% endif %}
    <div class="remote-video__video">
      {{ video }}
    </div>
    <div class="remote-video__video-desc user-edited-content">{{ video_desc }}</div>
  {% endblock component_content %}
{% endembed %}
