{% embed '@hdbt/content/node.html.twig' with {'node_class': 'components components--news'} %}

  {% block main_content %}

    {# Lead text #}
    {% if content.field_lead_in|render %}
      <section class="preamble">
        {{ content.field_lead_in }}
      </section>
    {% endif %}

    {# Created date and modified date #}
    {% if published_at is not empty %}
      <div class="content-date">
        {% set html_published_at = published_at|format_date('custom', 'Y-m-d') ~ 'T' ~ published_at|format_date('custom', 'H:i') %}
        <time datetime="{{ html_published_at }}" class="content-date__datetime content-date__datetime--published">
          <span class="visually-hidden">{{ 'Published'|t({}, {'context': 'The helper text before the node published timestamp'}) }}</span>
          {{ published_at|format_date('publication_date_format') }}
        </time>

        {% if modified_at is not empty %}
          {% set html_modified_at = modified_at|format_date('custom', 'Y-m-d') ~ 'T' ~ modified_at|format_date('custom', 'H:i') %}
          <time datetime="{{ html_modified_at }}" class="content-date__datetime content-date__datetime--updated">
            {{ 'Updated'|t({}, {'context': 'The helper text before the node changed timestamp'}) }} {{ modified_at|format_date('publication_date_format') }}
          </time>
        {% endif %}
      </div>
    {% endif %}

    {# Main image #}
    {% if content.field_main_image|render %}
      {% include '@hdbt/misc/image-with-caption.twig' with {
        image: content.field_main_image,
        image_caption: main_image_caption
      } %}
    {% endif %}
    {# End of Main image #}

    {# Content region #}
    {% if content.field_content|render %}
      {{ content.field_content }}
    {% endif %}

    {# Links and links title #}
    {% if content.field_news_item_links_link|render %}
      <div class="content-links">

        {% if content.field_news_item_links_title|render %}
          <div class="content-links__title">
            {{ content.field_news_item_links_title }}
          </div>
        {% endif %}

        <ul class="content-links__links">
          {% for key in content.field_news_item_links_link['#items']|keys %}
            <li class="content-links__links__link">{{ content.field_news_item_links_link[key] }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {# Social media share links #}
    {{ drupal_block('hdbt_content_social_sharing_block') }}

    {# Tags #}
    {% if content.field_news_item_tags|render %}
      <section class="content-tags"  aria-label="{{ 'Tags'|t({}, {'context': 'Label for screen reader software users explaining that this is a list of tags related to this page.'}) }}">
        <ul class="content-tags__tags">
          {% for key in content.field_news_item_tags['#items']|keys %}
            <li class="content-tags__tags__tag">{{ content.field_news_item_tags[key] }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {# Radioactivity #}
    {% if content.field_radioactivity|render %}
      <section class="content-radioactive">
        {{ content.field_radioactivity }}
      </section>
    {% endif %}

  {% endblock main_content %}

{% endembed %}
