{#
/**
* @file
* Theme override to display a single Drupal page while offline.
*
* All available variables are mirrored in page.html.twig.
* Some may be blank but they are provided for consistency.
*
* @see template_preprocess_maintenance_page()
*/
#}
{% embed '@hdbt/misc/container.twig' with {container_element: 'maintenance-page-content'} %}
  {% block container_content %}
    <div class="maintenance-page__text-container">
      <header role="banner">
        <h1 class="maintenance-page__title">{{ 'The site is currently under maintenance'|t }}</h1>
      </header>
      <main role="main">
        <p class="maintenance-page__description">
          {{ page.content }}
        </p>

        {% set link_title %}
          {{ 'Go back to the hel.fi homepage'|t({}, {'context': 'Return to homepage link for error pages'}) }}
        {% endset %}
        {% set link_attributes = {
          'class': [
            'maintenance-page__link',
          ],
        } %}
        {{ link(link_title, maintenance_page_home_link, link_attributes) }}

        <br>

        {% set feedback_link_title %}
          {{ 'Give feedback'|t({}, {'context': 'Feedback link for error pages'}) }}
        {% endset %}
        {{ link(feedback_link_title, maintenance_page_feedback_link, link_attributes) }}

      </main>
    </div>
    <div class="maintenance-page__illustration-container">
      <img src="https://hel.fi/etusivu-assets/themes/contrib/hdbt/src/images/illustration_error_page_404.svg" alt="" class="maintenance-page__illustration" width="379" height="566" />
    </div>
  {% endblock container_content %}
{% endembed %}
