{#
/**
* @file
* Theme override to display a single Drupal page while offline.
*
* All available variables are mirrored in page.html.twig.
* Some may be blank but they are provided for consistency.
*
* @see template_preprocess_maintenance_page()
*/
#}
{% embed '@hdbt/misc/container.twig' with {container_element: 'maintenance-page-content'} %}
  {% block container_content %}
    <div class="maintenance-page__text-container">
      <header role="banner">
        <h1 class="maintenance-page__title" {{ alternative_language ? create_attribute(({ 'lang': lang_attributes.fallback_lang, 'dir': lang_attributes.fallback_dir })) }}>{{ 'The site is currently under maintenance'|t }}</h1>
      </header>
      <main role="main">
        <p class="maintenance-page__description">
          {{ page.content }}
        </p>

        {% set link_title %}
          {{ 'Go back to the hel.fi homepage'|t({}, {'context': 'Return to homepage link for error pages'}) }}
        {% endset %}
        {% set link_attributes = {
          'class': [
            'maintenance-page__link',
          ],
        } %}
        {% if alternative_language %}
          {% set link_attributes = link_attributes|merge({
              'dir': lang_attributes.fallback_dir,
              'lang': lang_attributes.fallback_lang
            })
          %}
        {% endif %}
        {{ link(link_title, maintenance_page_home_link, link_attributes) }}

        <br>

        {% set feedback_link_title %}
          {{ 'Give feedback'|t({}, {'context': 'Feedback link for error pages'}) }}
        {% endset %}
        {{ link(feedback_link_title, maintenance_page_feedback_link, link_attributes) }}

        <br>

        {% set copy_link_title %}
          {{ 'If the problem persist, go to the copy of the pages.'|t({}, {'context': 'Copy of site link for error pages'}) }}
        {% endset %}
        {{ link(copy_link_title, maintenance_page_copy_link, link_attributes) }}

      </main>
    </div>
    {% embed '@hdbt/misc/special-page-illustration.twig' with {
      illustration_modifier_class: 'special-page__illustration-container--maintenance-page',
      illustration_url: 'https://hel.fi/etusivu-assets/themes/contrib/hdbt/src/images/illustration_maintenance_mode_page.svg',
      illustration_width: '394',
      illustration_height: '559',
      illustration_caption: 'Photo: @photographer'|t({'@photographer': 'Lille Santanen'}, {'context': 'Image photographer'}),
    } %}
    {% endembed %}
  {% endblock container_content %}
{% endembed %}
