{% embed 'page.html.twig' %}
  {% block page_content %}
    {{ optional_messages }}
    {% embed '@hdbt/misc/container.twig' with {container_element: 'error-page-content'} %}
      {% block container_content %}
        <div class="error-page__text-container">
          <h1 class="error-page__title">{{ error_number|default('401') }} - {{ 'You do not have permission to access this page'|t }}</h1>
          <p class="error-page__description">{{ 'This page is available to registered users only. If you have the necessary permissions, you can sign in to see the content.'|t }}</p>

          {% set link_title %}
            {{ 'Go back to the hel.fi homepage'|t({}, {'context': 'Return to homepage link for error pages'}) }}
          {% endset %}
          {% set link_attributes = {
            'class': [
              'error-page__link',
            ],
          } %}
          {{ link(link_title, error_page_home_link, link_attributes) }}

          <br>

          {% set feedback_link_title %}
            {{ 'Give feedback'|t({}, {'context': 'Feedback link for error pages'}) }}
          {% endset %}
          {{ link(feedback_link_title, error_page_feedback_link, link_attributes) }}

          {% if user_not_logged_in %}
            <h2 class="error-page__login-title">{{ 'Log in'|t({}, {'context': 'Log in block title on error pages'}) }}</h2>
          {% endif %}
          {{ optional_login_block_description }}
          <div class="error-page__login-form">
            {{ drupal_block('user_login_block') }}
          </div>
        </div>
        <div class="error-page__illustration-container">
          <img src="{{ theme_path }}/src/images/illustration_error_page_403_401.svg" alt="" class="error-page__illustration" width="379" height="566" />
        </div>
      {% endblock container_content %}
    {% endembed %}
  {% endblock page_content %}

  {% block page_after_content %}
  {% endblock page_after_content %}
{% endembed %}
