{#
/**
 * @file
 * Theme override to display a single page.
 */
#}

{% if page.sidebar_first|render|striptags|trim is not empty %}
  {% set sidebar_first_output = TRUE %}
{% endif %}

{% if page.sidebar_second|render|striptags|trim is not empty %}
  {% set sidebar_second_output = render_var(page.sidebar_second) %}
{% endif %}

{% set has_sidebar = false %}
{% if sidebar_first_output or sidebar_second_output %}
  {% set has_sidebar = true %}
{% endif %}

{% set page_classes = [
    node.getType() ? 'page-type--' ~ node.getType()|clean_class,
    'wrapper',
    has_sidebar ? 'has-sidebar' : 'no-sidebar',
    sidebar_first_output ? 'has-sidebar--first',
    sidebar_second_output ? 'has-sidebar--second',

  ]
%}

{% if not has_hero and node.getType()|clean_class is same as('page') and sidebar_first_output %}
  {% set move_before_content = TRUE %}
{% endif %}

<div{{ create_attribute({'class': page_classes} ) }}>
  {% if page.header_top or page.header_bottom or page.header_branding %}
    <header role="banner" class="header">
      {% if page.header_top %}
        {{ page.header_top }}
      {% endif %}

      {% if page.header_branding %}
        {{ page.header_branding }}
      {% endif %}

      {% if page.header_bottom %}
        {{ page.header_bottom }}
      {% endif %}
    </header>
  {% endif %}

  {% if page.messages %}
    {{ page.messages }}
  {% endif %}

  {% if page.breadcrumb %}
    {{ page.breadcrumb }}
  {% endif %}

  {% if page.tools %}
    {{ page.tools }}
  {% endif %}

  <main role="main" class="layout-main-wrapper">
    <a id="main-content" tabindex="-1"></a>

    {# Move title inside the content area if page has navigation set to true. #}
    {% if page.before_content and not move_before_content %}
      {{ page.before_content }}
    {% endif %}

    <div class="main-content">
      <div class="layout-content {% if has_navigation %}has-navigation{% endif %} {% if move_before_content %}before-content--in-main{% endif %}">
        {% if page.before_content and move_before_content %}
          {{ page.before_content }}
        {% endif %}
        {{ page.content }}
      </div>{# /.layout-content #}

      {% if sidebar_first_output %}
        <aside class="layout-sidebar-first {% if has_navigation %}has-navigation{% endif %}" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      {% if sidebar_second_output %}
        <aside class="layout-sidebar-second" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </div>

    {% if page.after_content %}
      {{ page.after_content }}
    {% endif %}
  </main>
</div>

{% if page.footer_top or page.footer_bottom %}
  {% set footer_variant = '' %}
  {% if page.footer_color %}
    {% set footer_variant = 'footer--' ~ page.footer_color|clean_class %}
  {% endif %}

  <footer role="contentinfo" class="footer {{ footer_variant }}">
    {% include '@hdbt/misc/koro.twig' with {koro: koro, flip: false } %}
    {% if page.footer_top %}
      {{ page.footer_top }}
    {% endif %}

    {% if page.footer_bottom %}
      {{ page.footer_bottom }}
    {% endif %}
  </footer>
{% endif %}

{% if page.attachments %}
  {{ page.attachments }}
{% endif %}
