{#
/**
 * @file
 * Theme override to display a single page.
 *
 * Variables:
 * - has_sidebar_first: A boolean indicating if the first sidebar is available
 * - has_sidebar_second: A boolean indicating if the second sidebar is available
 * - active_theme: A string indicating the active theme
 *
 * @see hdbt_admin_tools_preprocess_page() and hdbt_preprocess_page()
#}

{% set page_classes = [
    node.getType() ? 'page-type--' ~ node.getType()|clean_class,
    'wrapper',
    has_sidebar_first or has_sidebar_second ? 'has-sidebar' : 'no-sidebar',
    has_sidebar_first and not has_hero ? 'has-sidebar--first' : 'no-sidebar-first',
    has_sidebar_second ? 'has-sidebar--second' : 'no-sidebar-second',
    has_section_nav ? 'has-section-nav' : 'no-section-nav',
  ]
%}

{# The published variable can be true/false/null and only false should be marked with unpublished indicator #}
{% if published or published is null %}
  {% set publishAttribute = {'data-published': true} %}
{% else %}
  {% set publishAttribute =
    {
      'data-unpublished':  'Unpublished'|t({}, {'context': 'Short description for editors about current page being unpublished'}),
      'data-unpublished-long':  'This page is unpublished'|t({}, {'context': 'Long description for editors about current page being unpublished'}),
    }
  %}
{% endif %}

{# Do we want to render navigation with content from another instance "globally" #}
{% if use_global_navigation %}
  {# CSS data-attr selector reference point for JS navigation toggle. Must be on top and at root. #}
  <div id="menu" class="nav-toggle-target"></div>
{% else %}
  {# CSS data-attr selector reference point for JS navigation toggle. #}
  <div id="cssmenu" class="nav-toggle-target"></div>
{% endif %}

{% if use_search_block %}
  <div id="search" class="nav-toggle-target"></div>
{% endif %}

{% if use_otherlangs_block %}
  <div id="otherlangs" class="nav-toggle-target"></div>
{% endif %}

{% if use_profile_block %}
  <div id="profile" class="nav-toggle-target"></div>
{% endif %}

{% if use_language_switcher_block %}
  {% for language in ['fi', 'sv', 'en'] %}
    <div id="language-toast--{{ language }}" class="nav-toggle-target nav-toggle-target--toast"></div>
  {% endfor %}
{% endif %}

<div{{ create_attribute( publishAttribute ).addClass(page_classes) }}>
  {% if page.header_top or page.header_bottom or page.header_branding %}
    <header role="banner" class="header">
      {% if page.header_top %}
        {{ page.header_top }}
      {% endif %}

      {% if page.header_branding %}
        {% set header_branding_attributes = {
            'id': 'header-branding',
            'class': ['header-branding']
          }
        %}
        {% if alternative_language %}
          {% set header_branding_attributes = header_branding_attributes|merge({
              'dir': lang_attributes.fallback_dir,
              'lang': lang_attributes.fallback_lang
            })
          %}
        {% endif %}
        <div {{ create_attribute(header_branding_attributes) }}>
          {% set prefix = active_theme == 'hdbt_subtheme' ? 'hdbt_subtheme_' : '' %}

          {# Manually select which blocks to render in header branding region. #}
          {% set block__site_branding = prefix ~ 'sitebranding' %}
          {% set block__external_fallback_menu = 'external_fallback_menu' %}
          {% set block__external_menu_mega_menu = 'external_menu_mega_menu' %}
          {% set block__language_switcher = prefix ~ 'language_switcher' %}
          {% set block__external_header_language_links = 'external_header_language_links' %}

          {#
            Render the header branding region blocks in a specific order: mobile tabbing order
            Exclude the external menu mega menu block as it will be rendered
            manually in external fallback menu.
            See. block--external-menu-block-fallback.html.twig:61.
          #}

          {{ drupal_entity('block', block__site_branding) }} {# Logo #}

          <div class="language-wrapper">
            {{ drupal_entity('block', block__language_switcher) }} {# Change language-menu and content in other languages-menu #}

            {% if use_global_navigation %}
              {# Other languages button #}
              {% include "@hdbt/component/otherlanguages.twig" with {
                renderButton: true,
              } %}
            {% endif %}
          </div>

          {% if use_global_navigation %}
            {# Other languages menu content #}
            {{ drupal_entity('block', block__external_header_language_links) }}

            {# Header search button and menu #}
            {% include "@hdbt/component/header-search.twig" %}
          {% endif %}

          {{ drupal_entity('block', block__external_fallback_menu) }} {# Mobile menu #}

          {# Render the header branding region without manually rendered blocks #}
          {{ page.header_branding|without([
            block__site_branding,
            block__external_fallback_menu,
            block__language_switcher,
            block__external_header_language_links,
            block__external_menu_mega_menu
          ]) }}
        </div>
      {% endif %}

      {% if page.header_bottom %}
        {{ page.header_bottom }}
      {% endif %}
    </header>
  {% endif %}

  <main role="main" class="layout-main-wrapper">
    {% if page.breadcrumb %}
      {{ page.breadcrumb }}
    {% endif %}

    {% if page.tools %}
      {{ page.tools }}
    {% endif %}

    <a id="main-content" tabindex="-1"></a>

    {% if page.messages %}
      {{ page.messages }}
    {% endif %}

    {% block page_before_content %}
      {% if page.before_content %}
        {{ page.before_content }}
      {% endif %}
    {% endblock page_before_content %}

    <div class="main-content">

      {% if has_sidebar_first and not has_hero %}
        <div class="layout-sidebar-first hide-from-table-of-contents">
          {% block page_sidebar_first %}
            {{ page.sidebar_first }}
          {% endblock page_sidebar_first %}
        </div>
      {% endif %}

      <div class="layout-content">

        {# Construct page_title_block based on active theme. #}
        {% set page_title_block = active_theme ~ '_page_title' %}

        {% block page_content %}
          {# We want page_title always to be before other page.content #}
          {% if not has_hero %}
            {{ page.content[page_title_block] }}
          {% endif %}
          {{ page.content|without(page_title_block) }}
        {% endblock page_content %}

      </div>

      {% if has_sidebar_second %}
        <aside class="layout-sidebar-second hide-from-table-of-contents">
          {% block page_sidebar_second %}
            {{ page.sidebar_second }}
          {% endblock page_sidebar_second %}
        </aside>
      {% endif %}
    </div>

    {% if page.after_content %}
      {% block page_after_content %}
        {{ page.after_content }}
      {% endblock page_after_content %}
    {% endif %}
  </main>
</div>

{% if page.footer_top or page.footer_bottom %}
  {% set footer_variant = '' %}
  {% if page.footer_color == 'dark'  %}
    {% set footer_variant = 'footer--dark' %}
  {% elseif page.footer_color == 'light' %}
    {% set footer_variant = 'footer--light' %}
  {% endif %}

  <footer class="footer {{ footer_variant }}">
    {% include '@hdbt/misc/koro.twig' with { flip: false } %}
    {% if page.footer_top %}
      {{ page.footer_top }}
    {% endif %}

    {% if page.footer_bottom %}
      {{ page.footer_bottom }}
    {% endif %}
  </footer>
{% endif %}

{% if page.attachments %}
  {{ page.attachments }}
{% endif %}
